<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La Tour d'Argent </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/boulanger.css">
    <link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section class="bg bg-boulanger">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <h1> Le Boulanger </h1>
        <header>
 
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li class="dropdownmenu"><a class="menu-elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="/comptoir">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="/rotisserie">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="/boulanger">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="/tokyo">Tokyo</a></li>
                        <li><a class="sous-elem10" href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="/invitation">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
                <li><a class="menu-elem5" href="/contact">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header>
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <section class="main">
        <div class="picture-left">
            <div class="contain-right">
                <h2> Le Boulanger </h2>
                <p>Ancrée depuis toujours dans les terroirs et la tradition, il était dans l’ordre des choses que la Tour d’Argent ouvre un jour sa boulangerie.</p>
                <p>Le Boulanger de la Tour, Alexis Bourgeot a pris ses quartiers dans cette nouvelle boutique juste en face de la Tour ; 2, rue du Cardinal Lemoine. Agé de 26 ans, Alexis a toujours voulu devenir boulanger. Passé par la pâtisserie de Cyril Lignac et par la Boulangerie des Invalides de Philippe-Marc Jocteur, Alexis a le goût du travail bien fait, le respect du produit, un joli savoir-faire et recherche la pleine satisfaction de ses clients. Dans son bel écrin de marbre clair et de bois massif avec un espace ouvert sur l’atelier de fabrication, les pains tout justes sortis du four apparaissent en majesté : baguettes, tourtes de meule, pains scandinave, pains complets, pains au maïs, pains Punchy et bien d’autres encore.</p>
                <p>Dans les vitrines, les viennoiseries pur-beurre, les éclairs au chocolat Tour d’Argent, au café, les tartes, au citron, au chocolat ou encore aux fruits de saison aiguisent l’appétit. Les madeleines, moelleux aux noisettes et autres gâteaux de voyage vous rappellent aussi que l’enfance n’est pas loin.</p>
                <p>Où est la maîtresse de maison ? La voilà : posée en hauteur, la baguette de la Tour veille au grain. Vendue 1€ tout rond, elle est – tout comme l’intégralité de nos pains, viennoiseries, gâteaux de voyage et tartes –  confectionnée dans notre atelier devant vous, avec du levain naturel, longuement fermentée, de la farine des moulins de Chars et de Brasseuil et façonnée à la main ! … une merveille de savoir-faire.</p>
            </div>
        </div>
        <div class="bg-responsive"></div>
        <a class="scroll-arrow1">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="end">
        <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°4-3.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°5-3.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°6-2.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°7-2.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°8-1.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°9-2.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°10-2.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°13-1.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°16-2.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/boulanger/Page-Le-Boulanger-de-la-Tour-n°3-4.jpg"/>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
        <a class="scroll-arrow2">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="information">
        <h2> INFORMATIONS PRATIQUES </h2>
        <p>2 Rue du Cardinal Lemoine, 75005 Paris, France</p>
        <p><a href="tel:0143546253">Tél. : +33 (0)1 43 54 62 53 </a></p>
        <p>Ouvert de 7h00 à 20h00 en semaine et de 8h00 à 20h00 le week-end et les jours fériés</p>
        <p><a href="https://www.instagram.com/leboulangerdelatour" target="_blank"><img src="/static/img/comptoir/instagram.png"/>@leboulangerdelatour</a></p>
        <iframe width="600" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAjLQU8xjIgbT-BVvTRwPXdpgUmgFmDqQg &q=2+Rue+du+Cardinal+Lemoine,+75005+Paris">
        </iframe>
    </section>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/latour.js"></script>
</body>
</html>