<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La tour d'Argent </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/carte.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section class="bg bg-carte">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <h1> La Carte </h1>
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li class="dropdownmenu"><a class="menu-elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="/comptoir">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="/rotisserie">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="/boulanger">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="/tokyo">Tokyo</a></li>
                        <li><a class="sous-elem10" href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="/invitation">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
                <li><a class="menu-elem5" href="/contact">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header>
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <main>
    <section class="main">
        <article>
            <div class="picture-right picture-right1">
                <div class="contain-left contain-left1">
                    <h2>MISE EN BOUCHE<span>- l’élégance du partage - </span></h2>
                    <div class="text">
                        <strong class="elem-left elem1">CARROTE D’ARNAUD AUBAGNE</strong>
                        <p class="elem-left elem2">Aracbnéenne, crème épicée, safran, fenouil, coriandre, noisette, pampeplemousse</p>
                        <strong class="elem-left elem3">ARTICHAUT</strong>
                        <p class="elem-left elem4">Belle chip croquante</p>
                        <strong class="elem-left elem5">BETTRAVE CAILLOU</strong>
                        <p class="elem-left elem6">Kéfir, anis, basilic Thaï</p>
                        <strong class="elem-left elem7">POMME VERTE DES JARDINS DE BRIEVE</strong>
                        <p class="elem-left elem8">Coque de raifort, jus de livèche</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive1"></div>
        </article>
        <article>
            <div class="picture-left picture-left1">
                <div class="contain-right contain-right1">
                     <h2 class="title1">HORS D’OEUVRE<span>- Mets délicats ou petites pièces à partager en attendant vos entrées - </span></h2>
                    <div class="text2">
                        <strong class="elem-right elem13">FEVETTE DE ROGNONAS DE LA FAMILLE BOYER</strong>
                        <p class="elem-right elem14">A la « française », glace béarnaise, crumble de poitrine paysanne, oseille</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive2"></div>
        </article>
        <article>
            <div class="picture-right picture-right2">
                <div class="contain-left contain-left2">
                    <h2>ENTRÉES<span>- ou petits entremets - </span></h2>
                    <div class="text">
                        <strong class="elem-left elem1">ASPERGES BLANCHES XXL BIO DE FRÉDÉRIC POUPARD     88€</strong>
                        <p class="elem-left elem2">Basilic et fraises ciflorette, sorbet parmesan, vinaigre balsamique traditionnel de Modène « extrea vecchio », huile d’olive « 1000 » de Philippe Chansigaud, soupe glacée au citron</p>
                        <strong class="elem-left elem3">LANGOUSTE PUCE ROYALE     145€</strong>
                        <p class="elem-left elem4">A la nage épicée citronelle et limequat, condiment de Macadamia, floralie d’herbes et fleurs, premiers jeunes légumes des jardins de Saint-Hilaire</p>
                        <strong class="elem-left elem5">FOIE GRAS DE CANARD 89€</strong>
                        <p class="elem-left elem6">Grillé, laqué au vieux balsamique tradition, cristalline de laitue de mer, tuile d’araignée de mer, rhubarbe tendre, vignaigrette d’huîtres</p>
                        <strong class="elem-left elem7">BROCHET SAUVAGE DES GRAVIÈRES DE VÉTHEUIL, QUENELLE HOMMAGE AU GRAND-PÈRE     78€</strong>
                        <p class="elem-left elem8">Sauce fleurette gratinée, morillles blondes et brunes, oxalis doré, pourpre et verte</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive3"></div>
        </article>
        <article>
            <div class="picture-left picture-left2">
                <div class="contain-right contain-right2">
                    <h2>POISSONS<span>- L’art de la fraicheur -</span></h2>
                    <div class="text">
                        <strong class="elem-right elem13">TURBOT SAUVAGE DE ROSCOFF     118€</strong>
                        <p class="elem-right elem14">Rôti aux pousses de verdures, feuilles de capucines, fraises veres, pommes Ratte confites, jus de volaille acidulé aux aromates</p>
                        <strong class="elem-right elem15">SAINT -PIERRE DE LIGNE DE ROSCOFF     87€</strong>
                        <p class="elem-right elem16">Cuisiné à la nacre, bohémienne de petits pois et carottes nouvelles, jus de homard acidulé, citron vert</p>
                        <strong class="elem-right elem17">HOMARD BLEU DE CASIER DES ÎLES CHAUSEY     152€<span class="comment">(EN DEUX FAÇONS)</span></strong>
                        <p class="elem-right elem18">Les pinces : délicatements infusées à la camomille, groseilles et petits pois La queue : pochée lentement dans un beurre d’agrumes, sabayon au vin Xérès, fricassée de petits pois et morilles au pourpier, fleur de ciboulette</p>
                        <strong class="elem-right elem19">BROCHET SAUVAGE DES GRAVIÈRES DE VÉTHEUIL QUENELLE HOMMAGE AU GRAND-PÈRE     78€</strong>
                        <p class="elem-right elem20">Sauce fleurette gratinée, morillles blondes et brunes, oxalis doré, pourpre et verte</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive4"></div>
        </article>
        <article>
            <div class="picture-right picture-right3">
                <div class="contain-left contain-left3">
                    <h2 class="titre3">RÔTS<span>- Ou pièces de résistance -  </span></h2>
                    <div class="text1">
                        <strong class="elem-left elem1">BŒUF DE L’AUBRAC*     118€</strong>
                        <p class="elem-left elem2">Morceau choisi rôti, raviole ouverte de queue braisée, ketchupe de pommes vertes artichauts poivrades rôti, jus corsé</p>
                        <strong class="elem-left elem3">AGNEAU DE LAIT DE L’AVEYRON*     88€</strong>
                        <p class="elem-left elem4">Selle, côte et gigot à la puntarella, pomme rôties, crumble d’agneau, jus acidulé au vinaigre et curry</p>
                        <strong class="elem-left elem5">RIS DE VEAU FERMIER*      148€</strong>
                        <p class="elem-left elem6">Doré u sautoire, grillotiné de gratons, morilles étuvées au jus de savagnon émulsion d’ail des ours, sucs de parmesan di-Reggiano, baselle</p>
                        <strong class="elem-left elem7">CANETON DE CHALLANS*     94€</strong>
                        <p class="elem-left elem8">Rôti aux épices, crackers de canard, sanguette épicée, fumet de réglisse, navets confits, oignons nouveaux rôtis</p>
                        <strong class="elem-left elem9">CANETON MAZARINE*     120€<span class="comment">(EN DEUX SERVICES)</span></strong>
                        <p class="elem-left elem10">1er service : Rôti en bigarade, voilé d’asperges vertes au zestes, mousseline de petits pois à l’orange, pomme soufflées </p>
                        <p class="elem-left elem11">2e service : Gras de cuisse braisée aux navets primeurs, poivre de Timut, confiture d’orange bigarade, feuille de moutarde</p> 
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive5"></div>
        </article>
        <article>
            <div class="picture-left picture-left3">
                <div class="contain-right contain-right3">
                    <h2 class=title1>FROMAGES<span class="comment1">- Affinés par Laurent Dubois, notre Maître Fromager un des Meilleurs Ouvriers de France 2000 - </span></h2>
                    <div class="text2">
                        <strong class="elem-right elem13">SÉLECTION DE FROMAGES     32€</strong>
                        <strong class="elem-right elem14">COMPTÉ D’EXEPTION TRENTE-SIX-MOIS     16€</strong>
                        <p class="elem-right elem15">Granges Maillot, Famille Badoz</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive6"></div>
        </article>
        <article>
            <div class="picture-right picture-right4">
                <div class="contain-left contain-left4">
                    <h2 class="title1">LES FANTASIES DE LA TOUR<span>- Préparées au guéridon pour l’ensemble de votre table -   </span></h2>
                    <div class="text2">
                        <strong class="elem-left elem1">CRÊPES MADEMOISELLE     54€</strong>
                        <p class="elem-left elem2">Sorbet minute au caillé de lait cru zesté de Laurent Dubois</p>
                        <strong class="elem-left elem3">CHOCOLAT LAIT     46€</strong>
                        <p class="elem-left elem4">Mousse, caramel, sorbet chocolat blanc ambré, lait déshydraté Servi avec notre café d’exception Kona d’Hualalai à Hawaï</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive7"></div>
        </article>
        <article>
            <div class="picture-left picture-left4">
                <div class="contain-right contain-right4">
                    <h2>ENTREMETS &#38; DOUCEURS<span>- Tentation et délices à commander en début de repas –</span></h2>
                    <div class="text">
                        <strong class="elem-right elem13">FLEURS PRINTANIÈRES     39€</strong>
                        <p class="elem-right elem14">Floralies cristallisées, mousse de rose, sorbet framboise et champagne rosé, gelée de miel de notre toit, barbe à papa</p>
                        <strong class="elem-right elem15">RHUBARBE     38€</strong>
                        <p class="elem-right elem16">Comme une tarte croustillante, mousse de fromage blanc, jus de coco lié en texture, sorbet rhubarbe</p>
                        <strong class="elem-right elem17">COMME UN VACHERIN, FRAISE DES BOIS, MANGUE     45€</strong>
                        <p class="elem-right elem18">Mikado fraise, menthe, nature, parfum d’orange et gimgembre, crème fouetée infusée au sucre Demerara épicé, verveine, menthe, basilic</p>
                        <strong class="elem-right elem19">OR NOIR COMBINAISON SURPRISE   COMME UNE BARRE CHOCOLATÉE     36€</strong>
                        <p class="elem-right elem20">Mousse légère, nougat et nougatine aux amandes, gelée de cacao, crème glacée vanillée à la fleur de sel, fleur de cacao</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive8"></div>
        </article>
        <article>
            <div class="picture-right picture-right5">
                <div class="contain-left contain-left5">
                    <h2>AUTOUR DU DÉJEUNER     105 €<span>- (+40 € le plat supplémentaire) –  </span></h2>
                    <div class="text1">
                        <strong class="elem-left elem1">QUENELLE DE BROCHET HOMMAGE AU GRAND-PÈRE</strong>
                        <p class="elem-left elem2">Sauce fleurette gratinée aux écrevisses, oxalis</p>
                        <strong class="elem-left elem3">GROSSES ASPERGES BLANCHES BIO DE FRÉDÉRIC POUPARD</strong>
                        <p class="elem-left elem4">A la crème de citron de Menton, praliné salé à l’amande, jus d’asperges émulsionné à l’huile d’olive « Lessatini », soup d’asperges glacée</p>
                        <strong class="elem-left elem5">AILE DE RAIE BOUCLÉE DE PETIT BATEAU, CITRON DE MENTON</strong>
                        <p class="elem-left elem6">Câpres, amandes, salicornes, poudre de noisettes</p>
                        <strong class="elem-left elem7">FILET DE CANETON</strong>
                        <p class="elem-left elem8">Filet de caneton rôti aux épices, émulsion de vinaigre réglissé, navets confits, oignons nouveaux rôtis</p>
                        <strong class="elem-left elem9">FRAISES CIFLORETTE XXL</strong>
                        <p class="elem-left elem10">Sur un biscuit onctueux Traou Mad, crème glacée italienne à la fève Tonka marbré de granité</p> 
                        <strong class="elem-left elem11">OR NOIR COMBINAISON SURPRISE  COMME UNE BARRE CHOCOLATÉE</strong>
                        <p class="elem-left elem12">Mousse légère, nougat et nougatine aux amandes, gelée de cacao, crème glacée vanillée à la fleur de sel, fleur de cacao</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive9"></div>
        </article>
        <article>
            <div class="picture-left picture-left5">
                <div class="contain-right contain-right5">
                    <h2>TOUR DU CANETON CROISÉ DE « LILIANE BURGAUD »     350 €<span>- Pour l’ensemble des convives –</span></h2>
                    <div class="text1">
                        <strong class="elem-right elem13">AVANT PLAT</strong>
                        <p class="elem-right elem14">Abats, petits pois et feuilles d’amarante, vinaigrette de saupiquet</p>
                        <strong class="elem-right elem15">1er Service</strong>
                        <p class="elem-right elem16">Oeuf de cane « monochrome », jaune acidulé aux fleurs de capucines et tagètes, courgette et betteraves jaunes</p>
                        <strong class="elem-right elem17">2e Service </strong>
                        <p class="elem-right elem18">Suprême, rôti au Porto, marmelade de Sucrine, puntarella, pamplemousse rose lié à l’épeautre de Sault, émulsion d’ail des ours.</p>
                        <strong class="elem-right elem19">3e Service</strong>
                        <p class="elem-right elem20">Foie gras grillé, laqué au vieux balsamique tradition, cristalline de laitue de mer, tuile d’araignée de mer, rhubarbe tendre, vinaigrette d’huîtres</p>
                        <strong class="elem-right elem21">4e Service</strong>
                        <p class="elem-right elem22">Cuisse braisée aux premières cerises, chou pointu, gel de griotte acidulé, fleur de sureau, lierre terrestre</p>
                        <strong class="elem-right elem23">DESSERT<span class="comment">Pour les petits et les grands, « souvenir d’enfance » </span></strong>
                        <p class="elem-right elem24">Interprétation d’une feuillantine de brick aux vanilles, Tahitensis de Tahiti, Panifolia d’Inde façon millefeuille</p>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive10"></div>
        </article>
        <article>
            <div class="picture-right picture-right6">
                <div class="contain-left contain-left6">
                    <h2></h2>
                    <div class="text3">
                        <strong class="elem-left elem1">LE CANNETON FRÉDÉRIC DELAIRE     240€ <span class="comment"> - A partir de deux personnes et pour l’ensemble de la table –</span></strong>
                        <p class="elem-left elem2">Pour donner à ce plat emblématique toute l’attention qu’il mérite, faites-nous le plaisir de commander VOTRE CANETON au moins deux jours à l’avance</p>
                        <strong class="elem-left elem3">IMAGINATION DE PHILIPPE EN SIX SERVICES     350 €<span class="comment"> - Pour l’ensemble des convives -</span></strong>
                    </div>
                </div>
            </div>
            <div class="bg-responsive bg-responsive11"></div>
        </article>
    </section>
    </main>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/latour.js"></script>
</body>
</html> 