<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La tour d'Argent </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/carte.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section id="bg">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li><a class="menu-elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="#">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="#">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="#">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="#">Tokyo</a></li>
                        <li><a class="sous-elem10" href="#">AG MAG</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="#">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/">Boutique</a></li>
                <li><a class="menu-elem5" href="#">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header>
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <main>
    <section class="main">
        <article>
            <div class="bg-responsive bg-responsive1"></div>
            <div class="picture-right picture-right1">
                <div class="contain-left">
                    <h2>MISE EN BOUCHE<span>- l’élégance du partage - </span></h2>
                    <div class="text">
                        <strong>CARROTE D’ARNAUD AUBAGNE</strong>
                        <p class="elem1">Aracbnéenne, crème épicée, safran, fenouil, coriandre, noisette, pampeplemousse</p>
                        <strong class="elem2">ARTICHAUT</strong>
                        <p class="elem3">Belle chip croquante</p>
                        <strong class="elem4">BETTRAVE CAILLOU</strong>
                        <p class="elem5">Kéfir, anis, basilic Thaï</p>
                        <strong class="elem6">POMME VERTE DES JARDINS DE BRIEVE</strong>
                        <p class="elem7">Coque de raifort, jus de livèche</p>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive2"></div>
            <div class="picture-left picture-left1">
                <div class="contain-right">
                     <h2 class="titre">HORS D’OEUVRE<span>- Mets délicats ou petites pièces à partager en attendant vos entrées - </span></h2>
                    <div class="text1">
                        <strong class="elem12">FEVETTE DE ROGNONAS DE LA FAMILLE BOYER</strong>
                        <p class="elem13">A la « française », glace béarnaise, crumble de poitrine paysanne, oseille</p>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive3"></div>
            <div class="picture-right picture-right2">
                <div class="contain-left">
                    <h2 class="titre1">ENTRÉES<span>- ou petits entremets - </span></h2>
                    <div class="text2">
                        <strong>ASPERGES BLANCHES XXL BIO DE FRÉDÉRIC POUPARD     88€</strong>
                        <p class="elem1">Basilic et fraises ciflorette, sorbet parmesan, vinaigre balsamique traditionnel de Modène<br/> « extrea vecchio », huile d’olive « 1000 » de Philippe Chansigaud, soupe glacée au citron</p>
                        <strong class="elem2">LANGOUSTE PUCE ROYALE     145€</strong>
                        <p class="elem3">A la nage épicée citronelle et limequat, condiment de Macadamia, floralie d’herbes et fleurs,<br/>premiers jeunes légumes des jardins de Saint-Hilaire</p>
                        <strong class="elem4">FOIE GRAS DE CANARD 89€</strong>
                        <p class="elem5">Grillé, laqué au vieux balsamique tradition, cristalline de laitue de mer, tuile d’araignée de mer,<br/>rhubarbe tendre, vignaigrette d’huîtres</p>
                        <strong class="elem6">BROCHET SAUVAGE DES GRAVIÈRES DE VÉTHEUIL,<br/>QUENELLE HOMMAGE AU GRAND-PÈRE     78€</strong>
                        <p class="elem7">Sauce fleurette gratinée, morillles blondes et brunes,<br/>oxalis doré, pourpre et verte</p>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive4"></div>
            <div class="picture-left picture-left2">
                <main class="contain-right">
                    <h2 class="titre2">POISSONS<span>- L’art de la fraicheur -</span></h2>
                    <div class="text3">
                        <strong class="elem12">TURBOT SAUVAGE DE ROSCOFF     118€</strong>
                        <p class="elem13">Rôti aux pousses de verdures, feuilles de capucines, fraises veres,<br/>pommes Ratte confites, jus de volaille acidulé aux aromates</p>
                        <strong class="elem14">SAINT -PIERRE DE LIGNE DE ROSCOFF     87€</strong>
                        <p class="elem15">Cuisiné à la nacre, bohémienne de petits pois et carottes nouvelles,<br/>jus de homard acidulé, citron vert</p>
                        <strong class="elem16">HOMARD BLEU DE CASIER DES ÎLES CHAUSEY     152€<span class="comment">(EN DEUX FAÇONS)</span></strong>
                        <p class="elem17">Les pinces : délicatements infusées à la camomille, groseilles et petits pois<br/>La queue : pochée lentement dans un beurre d’agrumes, sabayon au vin Xérès,<br/>fricassée de petits pois et morilles au pourpier, fleur de ciboulette</p>
                        <strong class="elem18">BROCHET SAUVAGE DES GRAVIÈRES DE VÉTHEUIL<br/>QUENELLE HOMMAGE AU GRAND-PÈRE     78€</strong>
                        <p class="elem19">Sauce fleurette gratinée, morillles blondes et brunes,<br/>oxalis doré, pourpre et verte</p>
                    </div>
                </main>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive5"></div>
            <div class="picture-right picture-right3">
                <main class="contain-left">
                    <h2 class="titre3">RÔTS<span>- Ou pièces de résistance -  </span></h2>
                    <div class="text4">
                        <strong>BŒUF DE L’AUBRAC*     118€</strong>
                        <p class="elem1">Morceau choisi rôti, raviole ouverte de queue braisée, ketchupe de pommes vertes<br/>artichauts poivrades rôti, jus corsé</p>
                        <strong class="elem2">AGNEAU DE LAIT DE L’AVEYRON*     88€</strong>
                        <p class="elem3">Selle, côte et gigot à la puntarella, pomme rôties, crumble d’agneau,<br/>jus acidulé au vinaigre et curry</p>
                        <strong class="elem4">RIS DE VEAU FERMIER*      148€</strong>
                        <p class="elem5">Doré u sautoire, grillotiné de gratons, morilles étuvées au jus de savagnon émulsion<br/>d’ail des ours, sucs de parmesan di-Reggiano, baselle</p>
                        <strong class="elem6">CANETON DE CHALLANS*     94€</strong>
                        <p class="elem7">Rôti aux épices, crackers de canard, sanguette épicée, fumet de réglisse,<br/>navets confits, oignons nouveaux rôtis</p>
                        <strong class="elem8">CANETON MAZARINE*     120€<span class="comment1">(EN DEUX SERVICES)</span></strong>
                        <p class="elem9">1er service : Rôti en bigarade, voilé d’asperges vertes au zestes, mousseline de petits<br/>pois à l’orange, pomme soufflées<br/></p>
                        <p class="elem10">2e service : Gras de cuisse braisée aux navets primeurs, poivre de Timut,<br/>confiture d’orange bigarade, feuille de moutarde</p> 
                    </div>
                </main>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive6"></div>
            <div class="picture-left picture-left3">
                <main class="contain-right">
                    <h2 class="titre4">FROMAGES<span>- Affinés par Laurent Dubois, notre Maître Fromager<br/> un des Meilleurs Ouvriers de France 2000 - </span></h2>
                    <div class="text5">
                        <strong class="elem12">SÉLECTION DE FROMAGES     32€</strong>
                        <strong class="elem13">COMPTÉ D’EXEPTION TRENTE-SIX-MOIS     16€</strong>
                        <p class="elem14">Granges Maillot, Famille Badoz</p>
                    </div>
                </main>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive7"></div>
            <div class="picture-right picture-right4">
                <main class="contain-left">
                    <h2 class="titre5">LES FANTASIES DE LA TOUR<span>- Préparées au guéridon pour l’ensemble de votre table -   </span></h2>
                    <div class="text6">
                        <strong>CRÊPES MADEMOISELLE     54€</strong>
                        <p class="elem1">Sorbet minute au caillé de lait cru zesté de Laurent Dubois</p>
                        <strong class="elem2">CHOCOLAT LAIT     46€</strong>
                        <p class="elem3">Mousse, caramel, sorbet chocolat blanc ambré, lait déshydraté<br/>Servi avec notre café d’exception Kona d’Hualalai à Hawaï</p>
                    </div>
                </main>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive8"></div>
            <div class="picture-left picture-left4">
                <main class="contain-right">
                    <h2 class="titre6">ENTREMETS &#38; DOUCEURS<span>- Tentation et délices à commander en début de repas –</span></h2>
                    <div class="text7">
                        <strong class="elem12">FLEURS PRINTANIÈRES     39€</strong>
                        <p class="elem13">Floralies cristallisées, mousse de rose, sorbet framboise et champagne rosé,<br/>gelée de miel de notre toit, barbe à papa</p>
                        <strong class="elem14">RHUBARBE     38€</strong>
                        <p class="elem15">Comme une tarte croustillante, mousse de fromage blanc,<br/>jus de coco lié en texture, sorbet rhubarbe</p>
                        <strong class="elem16">COMME UN VACHERIN, FRAISE DES BOIS, MANGUE     45€</strong>
                        <p class="elem17">Mikado fraise, menthe, nature, parfum d’orange et gimgembre, crème fouetée infusée<br/>au sucre Demerara épicé, verveine, menthe, basilic</p>
                        <strong class="elem18">OR NOIR COMBINAISON SURPRISE <br/>COMME UNE BARRE CHOCOLATÉE     36€</strong>
                        <p class="elem19">Mousse légère, nougat et nougatine aux amandes, gelée de cacao,<br/>crème glacée vanillée à la fleur de sel, fleur de cacao</p>
                    </div>
                </main>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive9"></div>
            <div class="picture-right picture-right5">
                <main class="contain-left contain-left1">
                    <h2 class="titre7">AUTOUR DU DÉJEUNER     105 €<span>- (+40 € le plat supplémentaire) –  </span></h2>
                    <div class="text8">
                        <strong>QUENELLE DE BROCHET HOMMAGE AU GRAND-PÈRE</strong>
                        <p class="elem1">Sauce fleurette gratinée aux écrevisses, oxalis</p>
                        <strong class="elem2">GROSSES ASPERGES BLANCHES BIO DE FRÉDÉRIC POUPARD</strong>
                        <p class="elem3">A la crème de citron de Menton, praliné salé à l’amande, jus d’asperges émulsionné à <br/>l’huile d’olive « Lessatini », soup d’asperges glacée</p>
                        <strong class="elem4">AILE DE RAIE BOUCLÉE DE PETIT BATEAU, CITRON DE MENTON</strong>
                        <p class="elem5">Câpres, amandes, salicornes, poudre de noisettes</p>
                        <strong class="elem6">FILET DE CANETON</strong>
                        <p class="elem7">Filet de caneton rôti aux épices, émulsion de vinaigre réglissé,<br/>navets confits, oignons nouveaux rôtis</p>
                        <strong class="elem8">FRAISES CIFLORETTE XXL</strong>
                        <p class="elem9">Sur un biscuit onctueux Traou Mad, crème glacée italienne à la fève Tonka<br/>marbré de granité</p> 
                        <strong class="elem10">OR NOIR COMBINAISON SURPRISE <br/>COMME UNE BARRE CHOCOLATÉE</strong>
                        <p class="elem11">Mousse légère, nougat et nougatine aux amandes, gelée de cacao,<br/>crème glacée vanillée à la fleur de sel, fleur de cacao</p>
                    </div>
                </main>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive10"></div>
            <div class="picture-left picture-left5">
                <main class="contain-right contain-right1 ">
                    <h2 class="titre8">TOUR DU CANETON CROISÉ DE <br/>« LILIANE BURGAUD »     350 €<span>- Pour l’ensemble des convives –</span></h2>
                    <div class="text9">
                        <strong class="elem12">AVANT PLAT</strong>
                        <p class="elem13">Abats, petits pois et feuilles d’amarante, vinaigrette de saupiquet</p>
                        <strong class="elem14">1er Service</strong>
                        <p class="elem15">Oeuf de cane « monochrome », jaune acidulé aux fleurs de capucines et tagètes,<br/>courgette et betteraves jaunes</p>
                        <strong class="elem16">2e Service </strong>
                        <p class="elem17">Suprême, rôti au Porto, marmelade de Sucrine, puntarella, pamplemousse rose<br/>lié à l’épeautre de Sault, émulsion d’ail des ours.</p>
                        <strong class="elem18">3e Service</strong>
                        <p class="elem19">Foie gras grillé, laqué au vieux balsamique tradition, cristalline de laitue de mer,<br/>tuile d’araignée de mer, rhubarbe tendre, vinaigrette d’huîtres</p>
                        <strong class="elem20">4e Service</strong>
                        <p class="elem21">Cuisse braisée aux premières cerises, chou pointu, gel de griotte acidulé,<br/>fleur de sureau, lierre terrestre</p>
                        <strong class="elem22">DESSERT<span class="comment2">Pour les petits et les grands, « souvenir d’enfance » </span></strong>
                        <p class="elem23">Interprétation d’une feuillantine de brick aux vanilles, Tahitensis de Tahiti,<br/>Panifolia d’Inde façon millefeuille</p>
                    </div>
                </main>
            </div>
        </article>
        <article>
            <div class="bg-responsive bg-responsive11"></div>
            <div class="picture-right picture-right6">
                <main class="contain-left">
                    <h2 class="titre9"></h2>
                    <div class="text10">
                        <strong>LE CANNETON FRÉDÉRIC DELAIRE     240€ <span class="comment3"> - A partir de deux personnes et pour l’ensemble de la table –</span></strong>
                        <p class="elem1">Pour donner à ce plat emblématique toute l’attention qu’il mérite, faites-nous le plaisir<br/>de commander VOTRE CANETON au moins deux jours à l’avance</p>
                        <strong class="elem2">IMAGINATION DE PHILIPPE EN SIX SERVICES     350 €<span class="comment4"> - Pour l’ensemble des convives -</span></strong>
                    </div>
                </main>
            </div>
        </article>
    </section>
    </main>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/latour.js"></script>
</body>
</html> 