<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La tour d'Argent </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chef.css">
    <link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section class="bg bg-chef">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <h1> Le Chef </h1>
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li class="dropdownmenu"><a class="menu-elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="/comptoir">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="/rotisserie">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="/boulanger">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="/tokyo">Tokyo</a></li>
                        <li><a class="sous-elem10" href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="/invitation">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
                <li><a class="menu-elem5" href="/contact">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header> 
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <section class="main">
        <div class="picture-left">
            <div class="contain-right">
                <h2><img src="/static/img/fleche-next-hover.svg"/>PHILIPPE LABBÉ<img src="/static/img/fleche-prev-hover.svg"/><span>CHAMPENOIS LA TÉNACITÉ</span></h2>
                <p class="part1">Champenois d’origine, il a travaillé vingt ans aux côtés des plus grands Chefs avant de diriger lui-même les cuisines du Château de Bagnols de 2001 à 2003 et celle du Château de la Chèvre d’Or à Eze de février 2003 à août 2009.</p>
                <br/>
                <p class="part2">Après avoir obtenu son diplôme de l’École Hôtelière d’Illkirch à Strasbourg il rejoint, en 1981, la brigade du Chef Bernard Loiseau au restaurant La Côte d’Or à Saulieu. Il évoluera ensuite auprès d’autres Chefs comme Gérard Boyer au restaurant Les Crayères à Reims ou encore Roger Vergé au Moulin de Mougins. Il a par ailleurs une solide expérience des beaux hôtels, de renommée internationale, comme le Carlton à Cannes ou le Plaza Athénée à Paris.</p>
                <br/>
                <p class="part3">Philippe Labbé a travaillé trois ans à l’hôtel Martinez à Cannes, au sein de la brigade de Christian Willer, un Chef reconnu comme l’un des meilleurs Chefs d’Hôtel de sa génération auprès duquel Philippe Labbé a appris la rigueur et les enjeux de la restauration d’un grand hôtel.</p>
                <br/>
                <p class="part4">Philippe Labbé propose une cuisine traditionnelle revisitée qui connaît depuis plusieurs années les honneurs des gastronomes du monde entier.</p>
                <br/>
                <p class="part5">Il affectionne les mariages de saveurs originales sublimant des produits de haute qualité et apporte une attention toute particulière à la carte des desserts qui doit être en parfaite harmonie avec sa cuisine.</p>
            </div>
        </div>
        <div class="bg-responsive"></div>
        <a class="scroll-arrow1">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="end">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat1.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat2.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat3.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat4.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat5.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat6.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat7.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat8.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat9.jpg"/>
            </div>
            <div class="swiper-slide">
                <img src="/static/img/chef/swiper/Plat10.jpg"/>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
        </div>
        <div class="swiper-button-prev">
        </div>
    </div>
    </section>
    <section class="reservation">
       <a id="button-close"><img src="/static/img/close.svg"/></a>
        <div id="form-reservation">
            <input type="date">
            <input id="nb-person" type="text" list="series" placeholder="2"> 
                <datalist id="series">
                    <option value="2"> 
                    <option value="3"> 
                    <option value="4">
                    <option value="5">
                    <option value="6">
                </datalist>
            <span><img src="/static/img/man.svg"/></span>
            <div id="hour">
                <div class="day">
                    <strong> DEJEUNER </strong>
                    <input type="time">
                </div>
                <div class="day">
                    <strong> DÎNER </strong>
                    <input type="time">
                </div>
            </div>
            <input id="name" placeholder="Nom*" type="text">
            <input placeholder="Prénom*" type="text">
            <input placeholder="E-mail*" type="email">
            <input placeholder="Téléphone*" type="tel">
            <div class="button">
                <input class="sendmail" type="submit" value="Envoyé">
            </div>
        </div>
    </section>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/latour.js"></script>
</body>
</html>