<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La Tour d'Argent </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/comptoir.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section class="bg bg-comptoir">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <h1> Le Comptoir </h1>
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li class="dropdownmenu"><a class="menu-elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="/comptoir">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="/rotisserie">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="/boulanger">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="/tokyo">Tokyo</a></li>
                        <li><a class="sous-elem10" href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="/invitation">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
                <li><a class="menu-elem5" href="/contact">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header>
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <section class="main">
        <div class="picture-left">
            <div class="contain-right">
                <div id="text">
                <h2 class="elem"> Découvrez le Comptoir</h2>
                <p class="elem1">Que vous sortiez d’un déjeuner à la Tour d’Argent ou que vous soyez à vous dégourdir les jambes quai de la Tournelle, poussez la porte du Comptoir de la Tour : notre bar-boutique ouvert à tous où vous pourrez boire un café, un jus de fruits, une coupe de champagne – et plus si affinités.</p>
                <p class="elem2">Car avec notre gamme d’épicerie fine sucrée (confitures, miel de notre toit, biscuits…) et salée (terrines, foie gras, vinaigres, huiles, moutardes…), de vins, d’accessoires et d’arts de la table, il faudrait être ermite pour repartir les mains vides. Prenez le temps de flâner, et confectionnez votre coffret cadeau sur-mesure et selon vos envies. Des coffrets qui pourraient ressembler à ceux-là…</p>
                <p class="elem3">Coffret “L’Incontournable” composé de : Sauternes, foie gras de canard entier, chutney aux épices galantes. Entourez-vous de gourmets, enlevez vos gants, savourez.</p>
                <p class="elem4">Coffret “Un dimanche à la campagne” composé de : Bordeaux Graves rouge, rillettes de canard au foie gras, terrine de canard et foie gras au poivre vert, chutney aux épices galantes.</p>
                <p class="elem5">Une invitation au voyage, comme disait Baudelaire ?</p>
                <p class="elem6">“Le déjeuner sur l’herbe” répondrait Manet. Deux terrines de canard au foie gras, un chutney et notre délicieux Graves rouge : avec ce coffret, l’exotisme n’est pas loin…</p>
                <p class="elem8">Le Comptoir de la Tour d’Argent se fait une certaine idée de la France – et de la qualité de ses artisans.</p>
                <p class="elem9">Main dans la main, fidèlement, la Tour ne travaille qu’avec des producteurs français attachés à la terre, au savoir-faire et à la transmission.</p>
                </div>
            </div>
            <div class="bg-responsive"></div>
        </div>
        <a class="scroll-arrow1">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="end">
        <h2> INFORMATIONS PRATIQUES </h2>
        <p>17 Quai de la Tournelle, 75005 Paris, France</p>
        <p><a href="tel:0146334558"> Tél. : +33 (0)1 46 33 45 58 </a></p>
        <p><a href="mailto:boutique@tourdargent.com"> boutique@tourdargent.com </a></p>
        <p>Ouvert du mardi au samedi de 12h00 à 20h00</p>
        <p><a href="https://www.instagram.com/tourdargentparis" target="_blank"><img src="/static/img/comptoir/instagram.png"/>@tourdargentparis</a></p>
        <iframe width="50%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAjLQU8xjIgbT-BVvTRwPXdpgUmgFmDqQg &q=17+Quai+de+la+Tournelle,+75005+Paris">
        </iframe>
    </section>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/latour.js"></script>
</body>
</html>