<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La tour d'Argent </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/heritage.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/static/js/jquery.timelinr-0.9.6.js"></script>
	<script>
		$(function(){
			$().timelinr({
				arrowKeys: 'true'
			})
		});
	</script>
</head>
<body> 
    <section class="bg bg-heritage">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <h1> Héritage </h1>
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li class="dropdownmenu"><a class="menu-elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="/comptoir">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="/rotisserie">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="/boulanger">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="/tokyo">Tokyo</a></li>
                        <li><a class="sous-elem10" href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="/invitation">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
                <li><a class="menu-elem5" href="/contact">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header> 
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <section class="main">
        <article class="terail-family andreI">
            <h2> ANDRE <span> Propriétaire de 1914 à 1947</span><a class="see-more" id="button1"> En savoir plus </a></h2>            
        </article>
        <div class="andreI-bio">
                <strong> ANDRE I </strong>
                <p>André Terrail, le grand-père de l’actuel propriétaire, rachète la Tour d’Argent à Frédéric Delair en 1914 et fait entrer dans sa légende les recettes d’Adolphe Dugléré ainsi que les rarissimes bouteilles du Café Anglais. Entrepreneur infatigable, la Tour rejoint la collection de ses nombreux établissements parmi lesquels on compte le San Régis, l’Hôtel Bellman, le Georges V à Paris, l’Hôtel St Christophe à Miramar d’Esterel, l’Escargot Montorgueil et Potel &#38; Chabot.</p>
                <a class="show-less" id="button-close1"> Lire moins</a>
            </div>
        <article class="terail-family claude">
            <h2> CLAUDE <span> Propriétaire de 1947 à 2006</span><a class="see-more" id="button2"> En savoir plus </a></h2>
        </article>
            <div class="claude-bio">
                <strong> CLAUDE </strong>
                <p>En 1947, André Terrail transmet les rênes de la Tour d’Argent à son fils, Claude. Sous sa direction, la Tour d’Argent ouvre un second restaurant à Tokyo, célèbre son 400ème anniversaire, et connaît de nombreuses évolutions la maintenant au plus haut niveau de la gastronomie mondiale. Entrepreneur visionnaire et meneur d’hommes, l’histoire retiendra un grand Maître de Maison dont la maxime favorite était : “Il n’y a rien de plus sérieux que le plaisir”. Disparu en 2006, son fils André perpétue l’histoire de cette grande Maison.</p>
                <a class="show-less" id="button-close2"> Lire moins</a>
            </div>
        <article class="terail-family andreII">
            <h2> ANDRE <span> Propriétaire depuis 2006</span>
            <a class="see-more" id="button3"> En savoir plus </a></h2>
        </article>
            <div class="andreII-bio">
                <strong> ANDRE </strong>
                <p>André Terrail rejoint l’entreprise familiale en 2003 et succède à son père en 2006. Il entame ainsi un nouveau chapitre dans l’illustre histoire de cet établissement. Tout en satisfaisant aux attentes d’une clientèle exigeante il s’attache à faire évoluer la Maison en respectant son héritage. Il s’appuie sur une équipe de grands professionnels pour embrasser l’esprit de son époque. André Terrail est titulaire d’un Bachelor of Science in Business Administration de Babson College et d’un Master of Business Administration de l’INSEAD.</p>
                <a class="show-less" id="button-close3"> Lire moins</a>
            </div>
        <a class="scroll-arrow1">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="end">
        <div id="timeline">
		<ul id="dates">
			<li><a href="#preambule"> Préambule </a></li>
			<li><a href="#1582"> 1582 </a></li>
			<li><a href="#XVIe-sielce"> XVIe siècle </a></li>
			<li><a href="#XVIIe-sielce"> XVIIe siècle </a></li>
			<li><a href="#XVIIIe-sielce"> XVIIIe siècle </a></li>
			<li><a href="#1830"> 1830 </a></li>
			<li><a href="#1867"> 1867 </a></li>
			<li><a href="#1890"> 1890 </a></li>
			<li><a href="#1911"> 1911 </a></li>
			<li><a href="#1925"> 1925 </a></li>
			<li><a href="#1936"> 1936 </a></li>
		</ul>
		<ul id="issues">
			<li id="preambule">
				<img src="/static/img/heritage/Preambule.jpg" width="200"/>
				<strong> Préambule </strong>
				<p>Chaque Tour a sa légende, on le sait, et la nôtre n’y manque point. Depuis maintenant près d’un siècle, à travers les vicissitudes de l’histoire, elle a maintenu une tradition et un honneur, presque un culte. Car l’ancienneté des lieux et l’authenticité des anecdotes comptent moins, finalement, que la vivante ferveur qu’ont su entretenir André Terrail, puis après lui, son fils Claude et maintenant André. Passent les lustres et les personnalités, changent les menus et les modes, la table reste mise à La Tour d’Argent.</p>
			</li>
			<li id="1582">
				<img src="/static/img/heritage/Une-Hostellerie-au-Bord-du-Fleuve-Seine-1.jpg" width="200"/>
				<strong> Une Hostellerie au bord du Fleuve Seine </strong>
				<p>Sous Henri III, en face du port aux vins et juste après la Porte Saint-Bernard un certain Rourteau ouvre une auberge élégante qui accueillera les seigneurs du Roi, las de hanter les tripots et les coupe-gorges… Le Château de la Tournelle adjacent bâti d’une pierre champenoise aux reflets argentés donne son nom à l’établissement qui prend ainsi le nom d’Hostellerie de la Tour d’Argent.</p>
			</li>
			<li id="XVIe-sielce">
				<img src="/static/img/heritage/premieres-fourchettes.jpg" width="200"/>
				<strong>Les Premières Fourchettes</strong>
				<p>Déjà utilisée dans quelques maisons italiennes, la fourchette fait son apparition en France à la Tour d’Argent. Afin de ne pas tâcher la fraise immaculée que la mode imposait au cou des gentilshommes, Henri IV inaugura cet ustensile par un dîner qui fit grand bruit dans Paris. Dès lors, la Tour d’Argent devint incontournable, et Henri IV y venait régulièrement déguster “La Poule d’Afrique ou l’Anguille des Bois” et de “Grosses tranches de Pâté de Héron”.</p>
			</li>
			<li id="XVIIe-sielce">
				<img src="/static/img/heritage/Cuisinier-Oyer-Traiteur-1.jpg" width="200"/>
				<strong>Cuisinier-Oyer-Traiteur</strong>
				<p>C’est ce même Henri IV qui octroyât à la Tour d’Argent l’honneur de porter des armes, et jusqu’au règne de Louis XIV on pût voir au-dessus de la porte de l’hostellerie cette armoirie “Cuisinier – Oyer – traiteur”. Les armes du restaurant étaient : “d’Argent à un plat couvert de sable accompagné de trois couronnes de lierre et de sinople”, tandis que celle de l’hostellerie étaient “une Tour d’Argent crénelée sur un champ de gueules”.</p>
			</li>
			<li id="XVIIIe-sielce">
				<img src="/static/img/heritage/Du-Cardinal-de-Richelieu-%C3%A0-la-Revolution-Francaise.jpg" width="200"/>
				<strong>Du Cardinal de Richelieu à la Révolution Française</strong>
				<p>La Tour d’Argent demeura le lieu des soupers fins. La chronique a laissé le souvenir d’un dîner offert par le Duc de Richelieu, neveu du Cardinal, qui réunit quarante personnes autour d’un menu composé uniquement de bœuf apprêté de trente façons différentes ! C’est à la fin de ce repas que l’on vit apparaître pour la première fois les tasses à café. On prenait aussi à la Tour d’Argent de l’excellent chocolat. Dans une lettre écrite en 1671, Madame de Sévigné n’écrit-elle pas à sa fille qu’elle y déguste son chocolat quotidiennement Quai de la Tournelle ?</p>
			</li>
			<li id="1830">
				<img src="/static/img/heritage/Lecoq-Cuisinier-personel-de-Napoleon.jpg" width="200"/>
				<strong>Lecoq, cuisinier personnel de Napoléon</strong>
				<p>La tourmente révolutionnaire passée, Lecoq, Chef des cuisines impériales, reconstruisit le restaurant de la Tour d’Argent. L’endroit redevint le lieu des gourmets célèbres tel le duc de Morny et la comtesse Le Hon, la dame aux Camélias ou encore Lord Seymour.</p>
			</li>
			<li id="1867">
				<img src="/static/img/heritage/Heritage-le-Diner-des-Trois-Empereurs.jpg" width="200"/>
				<strong>Le Dîner des Trois Empereurs au Café Anglais</strong>
				<p>C’est en 1867, à l’heure de l’exposition universelle de Paris, que le Café Anglais connaîtra son apogée. Jugez du peu ! Alexandre II, Tsar de toutes les Russies, le Tsarévitch et futur Alexandre III, Guillaume 1<sup>er</sup>, Roi de Prusse et futur Empereur, et le prince Otto von Bismarck réunis à la même table. À ces convives exceptionnels, le Chef Dugléré préparera un menu d’exception composé de cinq entrées, six plats et quatre desserts.</p>
			</li>
			<li id="1890">
				<img src="/static/img/heritage/Frederic-Delair-et-le-Caneton-Numerote.jpg" width="200"/>
				<strong>Frédéric Delair et le Caneton Numéroté</strong>
				<p>Sous la houlette de ce maître d’hôtel devenu propriétaire au milieu du XIXe siècle, le service en salle prend un tour nouveau. Frédéric codifie la recette du “canard au sang” ou “caneton Frédéric Delair” tel que nous le connaissons aujourd’hui et s’illustre en découpant le canard à bout de fourchette, sans qu’il ne touche le plat ! Sûr de la pérennité de son œuvre, il décide en 1890 de numéroter chaque canard. Tradition qui perdure aujourd’hui encore.</p>
			</li>
			<li id="1911">
				<img src="/static/img/heritage/Le-Cafe-Anglais.jpg" width="200"/>
				<strong>Le Café Anglais</strong>
				<p>En 1911, à la veille de la première guerre mondiale, André Terrail rachète la Tour d’Argent. Il réunit, en épousant la fille de Claudius Burdel, alors propriétaire du Café Anglais, l’héritage gastronomique de Frédéric et celui du non moins illustre Adolphe Dugléré, cuisinier du Café Anglais, rien de moins que le plus couru des établissements parisien sous le Second Empire.</p>
			</li>
			<li id="1925">
				<img src="/static/img/heritage/1925-Un-Nouveau-decor.jpg" width="200"/>
				<strong>Un nouveau décor</strong>
				<p>La Tour d’Argent se transforme et le restaurant alors au rez-de-chaussée se couvre de boiseries. Une somptueuse grille en fer forgée marque la nouvelle entrée déplacée du 15 quai de la Tournelle au 17, coin du quai de la Tournelle et de la rue du Cardinal Lemoine.</p>
			</li>
            <li id="1936">
				<img src="/static/img/heritage/La-Tour-s-eleve.jpg" width="200"/>
				<strong>La Tour s’élève</strong>
				<p>André Terrail réalise un projet longtemps mûri: Hausser l’immeuble de deux étages et installer le restaurant au sixième pour lui donner le plus bel environnement qui se puisse rêver. On imagine les prodiges d’architecture qu’il fallut déployer pour bâtir sur des plots en acier la grande salle aujourd’hui familière, dont le corps de bâtiment n’aurait pu soutenir tout le poids. Ce fut d’abord une terrasse ouverte, que l’on ferma ensuite avec des bâches, enfin par les immenses baies vitrées. La « Tour » prit peu à peu la structure qu’elle a gardée: on ouvrit la seconde salle, on transporta les cuisines au sixième, on installa un ascenseur un peu plus large que l’ancien.</p>
			</li>
		</ul>
	</div>
   		<a href="#" id="next"></a>
		<a href="#" id="prev"></a>
    </section>
    <section id="timeline-responsive">
        <ul>
			<li class="date">
				<img src="/static/img/heritage/Preambule.jpg" width="380"/>
				<strong> Préambule </strong>
				<p>Chaque Tour a sa légende, on le sait, et la nôtre n’y manque point. Depuis maintenant près d’un siècle, à travers les vicissitudes de l’histoire, elle a maintenu une tradition et un honneur, presque un culte. Car l’ancienneté des lieux et l’authenticité des anecdotes comptent moins, finalement, que la vivante ferveur qu’ont su entretenir André Terrail, puis après lui, son fils Claude et maintenant André. Passent les lustres et les personnalités, changent les menus et les modes, la table reste mise à La Tour d’Argent.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/Une-Hostellerie-au-Bord-du-Fleuve-Seine-1.jpg" width="380"/>
                <strong> 1582 - Une Hostellerie au bord du Fleuve Seine </strong>
				<p>Sous Henri III, en face du port aux vins et juste après la Porte Saint-Bernard un certain Rourteau ouvre une auberge élégante qui accueillera les seigneurs du Roi, las de hanter les tripots et les coupe-gorges… Le Château de la Tournelle adjacent bâti d’une pierre champenoise aux reflets argentés donne son nom à l’établissement qui prend ainsi le nom d’Hostellerie de la Tour d’Argent.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/premieres-fourchettes.jpg" width="380"/>
                <strong> XVIe siècle - Les Premières Fourchettes</strong>
				<p>Déjà utilisée dans quelques maisons italiennes, la fourchette fait son apparition en France à la Tour d’Argent. Afin de ne pas tâcher la fraise immaculée que la mode imposait au cou des gentilshommes, Henri IV inaugura cet ustensile par un dîner qui fit grand bruit dans Paris. Dès lors, la Tour d’Argent devint incontournable, et Henri IV y venait régulièrement déguster “La Poule d’Afrique ou l’Anguille des Bois” et de “Grosses tranches de Pâté de Héron”.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/Cuisinier-Oyer-Traiteur-1.jpg" width="380"/>
				<strong> XVIIe siècle - Cuisinier-Oyer-Traiteur</strong>
				<p>C’est ce même Henri IV qui octroyât à la Tour d’Argent l’honneur de porter des armes, et jusqu’au règne de Louis XIV on pût voir au-dessus de la porte de l’hostellerie cette armoirie “Cuisinier – Oyer – traiteur”. Les armes du restaurant étaient : “d’Argent à un plat couvert de sable accompagné de trois couronnes de lierre et de sinople”, tandis que celle de l’hostellerie étaient “une Tour d’Argent crénelée sur un champ de gueules”.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/Du-Cardinal-de-Richelieu-%C3%A0-la-Revolution-Francaise.jpg" width="380"/>
				<strong> XVIIIe siècle - Du Cardinal de Richelieu à la Révolution Française</strong>
				<p>La Tour d’Argent demeura le lieu des soupers fins. La chronique a laissé le souvenir d’un dîner offert par le Duc de Richelieu, neveu du Cardinal, qui réunit quarante personnes autour d’un menu composé uniquement de bœuf apprêté de trente façons différentes ! C’est à la fin de ce repas que l’on vit apparaître pour la première fois les tasses à café. On prenait aussi à la Tour d’Argent de l’excellent chocolat. Dans une lettre écrite en 1671, Madame de Sévigné n’écrit-elle pas à sa fille qu’elle y déguste son chocolat quotidiennement Quai de la Tournelle ?</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/Lecoq-Cuisinier-personel-de-Napoleon.jpg" width="380"/>
                <strong> 1830 - Lecoq, cuisinier personnel de Napoléon</strong>
				<p>La tourmente révolutionnaire passée, Lecoq, Chef des cuisines impériales, reconstruisit le restaurant de la Tour d’Argent. L’endroit redevint le lieu des gourmets célèbres tel le duc de Morny et la comtesse Le Hon, la dame aux Camélias ou encore Lord Seymour.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/Heritage-le-Diner-des-Trois-Empereurs.jpg" width="380"/>
				<strong> 1867 - Le Dîner des Trois Empereurs au Café Anglais</strong>
				<p>C’est en 1867, à l’heure de l’exposition universelle de Paris, que le Café Anglais connaîtra son apogée. Jugez du peu ! Alexandre II, Tsar de toutes les Russies, le Tsarévitch et futur Alexandre III, Guillaume 1<sup>er</sup>, Roi de Prusse et futur Empereur, et le prince Otto von Bismarck réunis à la même table. À ces convives exceptionnels, le Chef Dugléré préparera un menu d’exception composé de cinq entrées, six plats et quatre desserts.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/Frederic-Delair-et-le-Caneton-Numerote.jpg" width="380"/>
				<strong> 1890 - Frédéric Delair et le Caneton Numéroté</strong>
				<p>Sous la houlette de ce maître d’hôtel devenu propriétaire au milieu du XIXe siècle, le service en salle prend un tour nouveau. Frédéric codifie la recette du “canard au sang” ou “caneton Frédéric Delair” tel que nous le connaissons aujourd’hui et s’illustre en découpant le canard à bout de fourchette, sans qu’il ne touche le plat ! Sûr de la pérennité de son œuvre, il décide en 1890 de numéroter chaque canard. Tradition qui perdure aujourd’hui encore.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/Le-Cafe-Anglais.jpg" width="380"/>
				<strong> 1911 - Le Café Anglais</strong>
				<p>En 1911, à la veille de la première guerre mondiale, André Terrail rachète la Tour d’Argent. Il réunit, en épousant la fille de Claudius Burdel, alors propriétaire du Café Anglais, l’héritage gastronomique de Frédéric et celui du non moins illustre Adolphe Dugléré, cuisinier du Café Anglais, rien de moins que le plus couru des établissements parisien sous le Second Empire.</p>
			</li>
			<li class="date">
				<img src="/static/img/heritage/1925-Un-Nouveau-decor.jpg" width="380"/>
				<strong> 1925 - Un nouveau décor</strong>
				<p>La Tour d’Argent se transforme et le restaurant alors au rez-de-chaussée se couvre de boiseries. Une somptueuse grille en fer forgée marque la nouvelle entrée déplacée du 15 quai de la Tournelle au 17, coin du quai de la Tournelle et de la rue du Cardinal Lemoine.</p>
			</li>
            <li class="date">
				<img src="/static/img/heritage/La-Tour-s-eleve.jpg" width="380"/>
				<strong> 1936 - La Tour s’élève</strong>
				<p>André Terrail réalise un projet longtemps mûri: Hausser l’immeuble de deux étages et installer le restaurant au sixième pour lui donner le plus bel environnement qui se puisse rêver. On imagine les prodiges d’architecture qu’il fallut déployer pour bâtir sur des plots en acier la grande salle aujourd’hui familière, dont le corps de bâtiment n’aurait pu soutenir tout le poids. Ce fut d’abord une terrasse ouverte, que l’on ferma ensuite avec des bâches, enfin par les immenses baies vitrées. La « Tour » prit peu à peu la structure qu’elle a gardée: on ouvrit la seconde salle, on transporta les cuisines au sixième, on installa un ascenseur un peu plus large que l’ancien.</p>
			</li>
		</ul>
    </section>
    <section class="reservation">
       <a id="button-close"><img src="/static/img/close.svg"/></a>
        <div id="form-reservation">
            <input type="date">
            <input id="nb-person" type="text" list="series" placeholder="2"> 
                <datalist id="series">
                    <option value="2"> 
                    <option value="3"> 
                    <option value="4">
                    <option value="5">
                    <option value="6">
                </datalist>
            <span><img src="/static/img/man.svg"/></span>
            <div id="hour">
                <div class="day">
                    <strong> DEJEUNER </strong>
                    <input type="time">
                </div>
                <div class="day">
                    <strong> DÎNER </strong>
                    <input type="time">
                </div>
            </div>
            <input id="name" placeholder="Nom*" type="text">
            <input placeholder="Prénom*" type="text">
            <input placeholder="E-mail*" type="email">
            <input placeholder="Téléphone*" type="tel">
            <div class="button">
                <input class="sendmail" type="submit" value="Envoyé">
            </div>
        </div>
    </section>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/latour.js"></script>
</body>
</html>