<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>La Tour d'Argent</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
    <link rel="icon" href="IMG/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section id="home">
        <img src="/static/img/url1.svg"/>
        <ul id="menuheader">
            <li><a href="#">Découvrir</a>
                <ul>
                    <li><a href="/carte">La Carte</a></li>
                    <li><a href="/chef">Le Chef</a></li>
                    <li><a href="/heritage"> Héritage </a></li>
                    <li><a href="#"> La Cave </a></li>
                </ul>
            </li>
            <li><a href="#">Mais Aussi</a>
                <ul>
                    <li><a href="#">Salon Privé</a></li>
                    <li><a href="#">Le Comptoir</a></li>
                    <li><a href="#">La Rôtisserie</a></li>
                    <li><a href="#">Le Boulanger</a></li>
                    <li><a href="#">Tokyo</a></li>
                    <li><a href="#">AG MAG</a></li>
                </ul>
            </li>
            <li><a href="#">Réserver</a>
                <ul>
                    <li><a href="#">Réservation</a></li>
                    <li><a href="#">Invitation</a></li>
                </ul>
            </li>
            <li><a href="#">Boutique</a></li>
            <li><a href="#">Contact</a></li>
            <li><a id="language" href="#">EN</a></li>
        </ul>
        <div class="bg bg1"></div> 
        <div class="bg bg2"></div>
    </section>
    <script src="/static/js/latour.js"></script>
</body>
</html> 