<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>La Tour d'Argent</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
    <link rel="icon" href="IMG/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section id="home">
        <img src="/static/img/url1.svg"/>
        <ul id="menuheader">
            <li class="dropdownmenu"><a href="#">Découvrir</a>
                <ul>
                    <li><a href="/carte">La Carte</a></li>
                    <li><a href="/chef">Le Chef</a></li>
                    <li><a href="/heritage"> Héritage </a></li>
                    <li><a href="/cave"> La Cave </a></li>
                </ul>
            </li>
            <li class="dropdownmenu"><a href="#">Mais Aussi</a>
                <ul>
                    <li><a href="/salonprive">Salon Privé</a></li>
                    <li><a href="/comptoir">Le Comptoir</a></li>
                    <li><a href="/rotisserie">La Rôtisserie</a></li>
                    <li><a href="/boulanger">Le Boulanger</a></li>
                    <li><a href="/tokyo">Tokyo</a></li>
                    <li><a href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                </ul>
            </li>
            <li class="dropdownmenu"><a href="#">Réserver</a>
                <ul>
                    <li><a class="sous-elem11"href="#">Réservation</a></li>
                    <li><a href="/invitation">Invitation</a></li>
                </ul>
            </li>
            <li><a href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a id="language" href="#">EN</a></li>
        </ul>
        <div class="bg bg1"></div> 
        <div class="bg bg2"></div>
    </section>
    <section id="bg">
        <div id="logo">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <img id="logo-prin" src="/static/img/logo-white.svg"/>
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul class="menuheader">
                <li><a class="menu-elem1" href="#">Découvrir</a>
                    <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="/comptoir">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="/rotisserie">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="/boulanger">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="/toyko">Tokyo</a></li>
                        <li><a class="sous-elem10" href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="/invitation">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
                <li><a class="menu-elem5" href="/contact">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header>
        </div>
    </section>
    <section class="reservation">
       <a id="button-close"><img src="/static/img/close.svg"/></a>
        <div id="form-reservation">
            <input type="date">
            <input id="nb-person" type="text" list="series" placeholder="2"> 
                <datalist id="series">
                    <option value="2"> 
                    <option value="3"> 
                    <option value="4">
                    <option value="5">
                    <option value="6">
                </datalist>
            <span><img src="/static/img/man.svg"/></span>
            <div id="hour">
                <div class="day">
                    <strong> DEJEUNER </strong>
                    <input type="time">
                </div>
                <div class="day">
                    <strong> DÎNER </strong>
                    <input type="time">
                </div>
            </div>
            <input id="name" placeholder="Nom*" type="text">
            <input placeholder="Prénom*" type="text">
            <input placeholder="E-mail*" type="email">
            <input placeholder="Téléphone*" type="tel">
            <div class="button">
                <input class="sendmail" type="submit" value="Envoyé">
            </div>
        </div>
    </section>
    <script src="/static/js/latour.js"></script>
</body>
</html> 