<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La Tour d'Argent </title>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cave.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section id="bg">
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li><a class="elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li><a class="elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="#">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="#">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="#">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="#">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="#">Tokyo</a></li>
                        <li><a class="sous-elem10" href="#">AG MAG</a></li>
                    </ul>
                </li>
                <li><a class="elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="#">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="elem4" href="#">Boutique</a></li>
                <li><a class="elem5" href="#">Contact</a></li>
                <li><a class="elem6" id="language" href="#">EN</a></li>
            </ul>
        </header>
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <section class="main">
        <a class="scroll-arrow1">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="end">
        
    </section>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/latour.js"></script>
</body>
</html>