<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> La Tour d'Argent </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tokyo.css">
    <link rel="icon" href="/static/img/apple-icon-60x60.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body> 
    <section class="bg bg-tokyo">
        <a href="#" class="menu-icon">
            <div class="menu-icon-mid"></div>
        </a>
        <h1> La Tour Tokyo </h1>
        <header>
            <a href="/"><img src="/static/img/url1.svg"/></a>
            <ul id="menuheader">
                <li class="dropdownmenu"><a class="menu-elem1" href="#">Découvrir</a>
                <ul>
                        <li><a class="sous-elem1"href="/carte">La Carte</a></li>
                        <li><a class="sous-elem2" href="/chef">Le Chef</a></li>
                        <li><a class="sous-elem3" href="/heritage"> Héritage </a></li>
                        <li><a class="sous-elem4" href="/cave"> La Cave </a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem2" href="#">Mais Aussi</a>
                    <ul>
                        <li><a class="sous-elem5" href="/salonprive">Salon Privé</a></li>
                        <li><a class="sous-elem6" href="/comptoir">Le Comptoir</a></li>
                        <li><a class="sous-elem7" href="/rotisserie">La Rôtisserie</a></li>
                        <li><a class="sous-elem8" href="/boulanger">Le Boulanger</a></li>
                        <li><a class="sous-elem9" href="/tokyo">Tokyo</a></li>
                        <li><a class="sous-elem10" href="https://tourdargent.com/blog/" target="_blank">AG MAG</a></li>
                    </ul>
                </li>
                <li class="dropdownmenu"><a class="menu-elem3" href="#">Réserver</a>
                    <ul>
                        <li><a class="sous-elem11" href="#">Réservation</a></li>
                        <li><a class="sous-elem12" href="/invitation">Invitation</a></li>
                    </ul>
                </li>
                <li><a class="menu-elem4" href="https://www.comptoirdelatour.com/fr/" target="_blank">Boutique</a></li>
                <li><a class="menu-elem5" href="/contact">Contact</a></li>
                <li><a class="menu-elem6" id="language" href="#">EN</a></li>
            </ul>
        </header>
        <a class="scroll-arrow">
            <img src="/static/img/fleche.svg"/>
        </a>
    </section>
    <section class="main">
        <div class="bg-responsive"></div>
        <div class="picture-left">
            <div class="contain-right">
                <h2> La Tour d'Argent Tokyo </h2>
                <p>Né en 1981 près de Grenoble, Renaud Augier plonge dans l’univers de la cuisine à 16 ans dans un restaurant 1 étoile Michelin et développe son savoir-faire dans plusieurs restaurants deux et trois étoiles.</p>
                <p>En tant que stagiaire dans plusieurs restaurants connus, sa passion pour la gastronomie et son talent se ressentent dès ses premiers pas dans le métier. En 1999, il débute chez Georges Blanc à Vonnas, établissement trois étoiles Michelin.</p>
                <p>Après 6 ans chez Georges Blanc il poursuit son parcours chez le grand Michel Trama à l’Aubergade-Puymirol situé entre Bordeaux et Toulouse. Renaud Augier s’y épanouit et Michel Trama le recommande rapidement pour le Louis XV à l’Hôtel de Paris à Monaco, dirigé par Alain Ducasse, où cette star montante y poursuit l’art de la cuisine à partir de 2007.</p>
                <p>Renaud Augier poursuit son parcours et rejoint à partir de 2010 au Château les Crayères à Reims, un restaurant deux étoiles Michelin dans la belle région de Champagne dont l’équipe de cuisine est menée par l’un des Meilleurs Ouvriers de France Philippe Mille. Durant sa période aux Crayères, il en profite pour concourir au Prix International Taittinger en 2011 et obtient la deuxième place.</p>
                <p>Il rejoint enfin la Tour d’Argent Paris en 2012 et prend la direction des cuisines de la Tour d’Argent Tokyo en 2013. En 2015, il se lance pour défi de concourir aux Meilleurs Ouvriers de France et atteint les demi-finales sous la supervision de Laurent Delarbre, l’un des Meilleurs Ouvriers de France 2004 et ancien Chef de la Tour d’Argent à Paris.</p>
            </div>
            <div class="bg-responsive bg-responsive1"></div>
        </div>
        <a class="scroll-arrow1">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="end">
        <article>
            <div class="picture-right">
                <div class="contain-left">
                    <h2>Héritage</h2>
                    <p>Né d’une grande amitié et d’une admiration mutuelle entre le Président Yoneichi Otani et Claude Terrail, la Tour d’Argent ouvre le 4 septembre 1984. C’est alors l’un des tout premiers grands restaurants français au Japon.</p>
                    <p>À l’ouverture, Claude Terrail confie les rênes de cette somptueuse réplique à Christian Bollard. Directeur Général depuis ce jour, il dirige de main de maître ce prestigieux établissement donnant sur les jardins japonais de l’Hôtel New Otani.</p>
                    <p>Passant les modes et les crises la Tour d’Argent Tokyo a construit sa réputation et sa clientèle, célébrant lors d’une magnifique soirée donnée en septembre 2004 ses vingt années d’existence et d’amitié avec le Japon.</p>
                    <p>La Tour d’Argent de Tokyo est le premier restaurant à avoir importé le canard, à servir le homard et les asperges au Japon et à introduire pour les mariages, les pièces montées, alors complètement inconnues.</p>
                    <p>Honneur suprême, c’est à la Tour d’Argent de l’Hôtel New Otani que la Famille Impériale s’adresse pour certaines de ses réceptions. L’ensemble de la brigade se déplace alors en grande discrétion dans l’enceinte du Palais et aucun d’entre eux ne vous racontera le moindre détail de ce périple.</p>
                </div>
            </div>
            <div class="bg-responsive bg-responsive2"></div>
        </article>
        <a class="scroll-arrow2">
            <img src="/static/img/fleche-noir.svg"/>
        </a>
    </section>
    <section class="information">
        <h2> INFORMATIONS PRATIQUES </h2>
        <p>4, Kioi-cho, 1, Chiyoda, Tokyo, Japon</p>
        <p>Hôtel New Otani</p>
        <p><a href="tel:810332393111">Tél. : +81 (0) 3 3239 3111 </a></p>
        <p><a href="mailto:tourdargent@newotani.co.jp"> tourdargent@newotani.co.jp </a></p>
        <p><a href="http://www.latourdargent.jp">www.latourdargent.jp</a></p>
        <p>Ouvert tous les jours à dîner sauf le lundi. 1er service à 17h30.</p>
        <iframe width="50%" height="300px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAjLQU8xjIgbT-BVvTRwPXdpgUmgFmDqQg &q=+4,+Kioi-cho,+1,+Chiyoda,+Tokyo,+Japon++++++++">
        </iframe>
    </section>
    <section class="reservation">
       <a id="button-close"><img src="/static/img/close.svg"/></a>
        <div id="form-reservation">
            <input type="date">
            <input id="nb-person" type="text" list="series" placeholder="2"> 
                <datalist id="series">
                    <option value="2"> 
                    <option value="3"> 
                    <option value="4">
                    <option value="5">
                    <option value="6">
                </datalist>
            <span><img src="/static/img/man.svg"/></span>
            <div id="hour">
                <div class="day">
                    <strong> DEJEUNER </strong>
                    <input type="time">
                </div>
                <div class="day">
                    <strong> DÎNER </strong>
                    <input type="time">
                </div>
            </div>
            <input id="name" placeholder="Nom*" type="text">
            <input placeholder="Prénom*" type="text">
            <input placeholder="E-mail*" type="email">
            <input placeholder="Téléphone*" type="tel">
            <div class="button">
                <input class="sendmail" type="submit" value="Envoyé">
            </div>
        </div>
    </section>
    <footer>
        <img src="/static/img/Fichier%201.svg"/>
    </footer>
    <script src="/static/js/latour.js"></script>
</body>
</html>