/*-------------*/ 
/*-- General --*/
/*-------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'LeMonde Livre Classic';
}
body{
    overflow-x: hidden;
}

/*-----------------------------*/
/*-- Background + Navigation --*/
/*-----------------------------*/
#bg{
    width: 100%;
    height: 660px;
    overflow: hidden;
    background-image: url(/static/img/carte/lacarte.jpg);
    background-size: cover;
    background-position: bottom;
}


/*------------------------------*/
/*-- Menu left / Picture right--*/
/*------------------------------*/
.picture-right{
    width: 100%;
    height: 500px;
    background-size: 60%;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.picture-right1{
    background-image: url(/static/img/carte/Oursins-de-Dinard.jpg);
}
.picture-right2{
    background-image: url(/static/img/carte/Langue-de-canard-coeur-grille-jeunes-celeris-en-croute-de-sel-crumble-de-celeri-jus-aux-sucs-de-truffes.jpg);
}
.picture-right3{
    background-image: url(/static/img/carte/Ris-de-veau-fermier-croustillant-petits-pois-thym-citron-ail-nouveau....jpg);
}
.picture-right4{
    background-image: url(/static/img/carte/Chocolat-lait-mousse-caramel-sorbet-chocolat-blanc-ambre-lait-deshydrate-V2.jpg);
}
.picture-right5{
    background-image: url(/static/img/carte/Fraises-Ciflorette-XXL-sur-un-biscuit-onctueux-Traou-Mad-cr%C3%A8me-glac%C3%A9e-italienne-%C3%A0-la-f%C3%A8ve-Tonka-marbr%C3%A9-de-granit%C3%A9.jpg);
    height: 550px;
}
.picture-right6{
    background-image: url(/static/img/carte/Aile-de-raie-bouclee-de-Petit-Bateau-citron-de-Menton-capres-amandes-salicornes-poudre-de-noisettes-V1.jpg);
}
.contain-left{
    width: 60%;
    height: 500px;
    background: white;
    -webkit-clip-path: polygon(0 0, 95% 0, 75% 100%, 0% 100%);
    text-align: right;
}
.contain-left1{
    height: 550px;
}

/*------------------------------*/
/*-- Menu right / Picture left--*/
/*------------------------------*/
.picture-left{
    width: 100%;
    height: 500px;
    background-size: 60%;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.picture-left1{
    background-image: url(/static/img/carte/Caneton-Mazarine-2eme-service.jpg);
}
.picture-left2{
    background-image: url(/static/img/carte/Saint-Pierre-de-ligne-de-Port-en-Bessin.jpg);
}
.picture-left3{
    background-image: url(/static/img/carte/img3_zoom.jpg);
}
.picture-left4{
    background-image: url(/static/img/carte/Mangue-ananas-papaye-crumble-sorbet-noix-de-coco-maracuja-kefir.jpg);
}
.picture-left5{
    background-image: url(/static/img/carte/Langouste-puce-royale-a-la-nage-epicee-citronnelle-et-limequat-V1.jpg);
    height: 550px;
}
.contain-right{
    width: 60%;
    height: 500px;
    background: white;
    -webkit-clip-path: polygon(8.3% 0, 100% 0, 100% 100%, 28.3% 100%);
    margin-left: 40%;
    text-align: left;
}
.contain-right1{
    height: 550px;
}

/*-------------------*/
/*-- Structure text--*/
/*-------------------*/
h2{
    color: #C09B78;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
}
span{
    display: block;
    font-weight: 100;
    font-size: 15px;
    color: #1C1C1C;
}
strong{
    color: #C09B78;
    font-weight: 100;
    font-size: 15px;
    display: block;
    margin-top: 15px;
    margin-right: 25%;
}
p{
    font-size: 12px;
}


/*----------------*/
/*- contain-left -*/
/*----------------*/
/* elem */
.elem1{
    margin-right: 27%;
}
.elem2{
    margin-right: 29%;
}
.elem3{
    margin-right: 30%;
}
.elem4{
    margin-right: 31%;
}
.elem5{
    margin-right: 32.5%;
}
.elem6{
    margin-right: 34%;
}
.elem7{
   margin-right: 36%;
}
.elem8{
    margin-right: 37%;
}
.elem9{
    margin-right: 39%;
}
.elem10{
    margin-right: 40%;
}
.elem11{
    margin-right: 42%;
}
/* titre */
.titre1{
    padding-top: 8%;
}
.titre3{
    padding-top: 5%;
}
.titre5{
    padding-top: 18%;
}
.titre7{
    padding-top: 7%;
}
/* text */
.text{
    margin-top: 80px;
}
.text2{
    margin-top: 60px;
}
.text4{
    margin-top: 40px;
}
.text6{
    margin-top: 80px;
}
.text8{
    margin-top: 50px;
}
.text10{
    margin-top: 125px;
}
/* comment */
.comment1{
    font-size: 10px;
    text-align: right;
    margin-right: 2%;
}
.comment3{
    font-size: 10px;
    text-align: right;
    margin-right: 2%;
}
.comment4{
    font-size: 10px;
    text-align: right;
    margin-right: 2%;
}



/*-----------------*/
/*- contain-right -*/
/*-----------------*/
/* elem */
.elem12{
    margin-left: 20%;
}
.elem13{
    margin-left: 21%;
}
.elem14{
    margin-left: 23%;
}
.elem15{
    margin-left: 24%;
}
.elem16{
    margin-left: 25%;
}
.elem17{
    margin-left: 26%;
}
.elem18{
    margin-left: 27%;
}
.elem19{
    margin-left: 28%;
}
.elem20{
    margin-left: 29%;
}
.elem21{
    margin-left: 30%;
}
.elem22{
    margin-left: 31%;
}
.elem23{
    margin-left: 32%;
}
/* titre */
.titre{
    padding-top: 18%;
}
.titre2{
    padding-top: 8%;
}
.titre4{
    padding-top: 17%;
}
.titre6{
    padding-top: 9%;
}
.titre8{
    padding-top: 5%;
}
/* text */
.text1{
    margin-top: 90px;
}
.text3{
    margin-top: 40px;
}
.text5{
    margin-top: 70px;
}
.text7{
    margin-top: 50px;
}
.text9{
    margin-top: 40px;
}
/* comment */
.comment{
    font-size: 10px;
    text-align: left;
    margin-left: 2%;
}
.comment2{
    font-size: 10px;
    text-align: left;
    margin-left: 2%;
}

/*--------------*/
/*- Responsive -*/
/*--------------*/

/* Mobile */

@media all and (max-width:720px){
    .contain-right{
        width: 100%;
        -webkit-clip-path: none;
        background: white;
        height: 400px;
        text-align: left;
        margin-left: 0;
    }
    .contain-left{
        width: 100%;
        -webkit-clip-path: none;
        background: white;
        height: 500px;
        text-align: left;
    }
    .picture-right,.picture-left{
        background: white;
    }
    .elem12,.elem13,.elem14,
    .elem15,.elem16,.elem17,
    .elem18,.elem19,.elem20,
    .elem21,.elem22,.elem23{
        margin-left: 0;
    }
    .elem1,.elem2,.elem3,
    .elem4,.elem5,.elem6,
    .elem7,.elem8,.elem9,
    .elem10,.elem11{
        margin-left: 0;
    }
    .comment,.comment1,.comment2,
    .comment3,.comment4,.comment5{
        margin-left: 0;
        text-align: left;
    }
    .text,.text1,.text2,.text3,
    .text4,.text5,.text6,
    .text7,.text8,.text9,
    .text10{
        margin-top: 0;
    }
    .titre,.titre1,.titre2,.titre3,
    .titre4,.titre5,.titre6,
    .titre7,.titre8{
        padding-top: 0;
    }
    h2{
        color: #C09B78;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        padding-top: 0;
    }
    strong{
        color: #C09B78;
        font-weight: 100;
        font-size: 13px;
        display: block;
        margin-top: 0;
        margin-right: 0;
    }
    .bg-responsive{
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .bg-responsive1{
        background-image: url(/static/img/carte/Oursins-de-Dinard.jpg);
    }
    .bg-responsive2{
        background-image: url(/static/img/carte/Caneton-Mazarine-2eme-service.jpg);
    }
    .bg-responsive3{
        background-image: url(/static/img/carte/Langue-de-canard-coeur-grille-jeunes-celeris-en-croute-de-sel-crumble-de-celeri-jus-aux-sucs-de-truffes.jpg);
    }    
    .bg-responsive4{
        background-image: url(/static/img/carte/Saint-Pierre-de-ligne-de-Port-en-Bessin.jpg);
    }
    .bg-responsive5{
        background-image: url(/static/img/carte/Ris-de-veau-fermier-croustillant-petits-pois-thym-citron-ail-nouveau....jpg);
    }
    .bg-responsive6{
        background-image: url(/static/img/carte/img3_zoom.jpg);
    }
    .bg-responsive7{
        background-image: url(/static/img/carte/Chocolat-lait-mousse-caramel-sorbet-chocolat-blanc-ambre-lait-deshydrate-V2.jpg);
    }
    .bg-responsive8{
        background-image: url(/static/img/carte/Mangue-ananas-papaye-crumble-sorbet-noix-de-coco-maracuja-kefir.jpg);
    }
    .bg-responsive9{
        background-image: url(/static/img/carte/Fraises-Ciflorette-XXL-sur-un-biscuit-onctueux-Traou-Mad-cr%C3%A8me-glac%C3%A9e-italienne-%C3%A0-la-f%C3%A8ve-Tonka-marbr%C3%A9-de-granit%C3%A9.jpg);
    }
    .bg-responsive10{
        background-image: url(/static/img/carte/Langouste-puce-royale-a-la-nage-epicee-citronnelle-et-limequat-V1.jpg);
    }
    .bg-responsive11{
        background-image: url(/static/img/carte/Aile-de-raie-bouclee-de-Petit-Bateau-citron-de-Menton-capres-amandes-salicornes-poudre-de-noisettes-V1.jpg);
    }
}

/* Tablette */
@media all and (min-width:721px) and (max-width:1024px){
    .contain-right{
        width: 100%;
        -webkit-clip-path: none;
        background: white;
        height: 400px;
        text-align: left;
        margin-left: 0;
    }
    .contain-left{
        width: 100%;
        -webkit-clip-path: none;
        background: white;
        height: 500px;
        text-align: left;
    }
    .picture-right,.picture-left{
        background: white;
    }
    .elem12,.elem13,.elem14,
    .elem15,.elem16,.elem17,
    .elem18,.elem19,.elem20,
    .elem21,.elem22,.elem23{
        margin-left: 0;
    }
    .elem1,.elem2,.elem3,
    .elem4,.elem5,.elem6,
    .elem7,.elem8,.elem9,
    .elem10,.elem11{
        margin-left: 0;
    }
    .comment,.comment1,.comment2,
    .comment3,.comment4,.comment5{
        margin-left: 0;
        text-align: left;
    }
    .text,.text1,.text2,.text3,
    .text4,.text5,.text6,
    .text7,.text8,.text9,
    .text10{
        margin-top: 0;
    }
    .titre,.titre1,.titre2,.titre3,
    .titre4,.titre5,.titre6,
    .titre7,.titre8{
        padding-top: 0;
    }
    h2{
        color: #C09B78;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
        padding-top: 0;
    }
    strong{
        color: #C09B78;
        font-weight: 100;
        font-size: 13px;
        display: block;
        margin-top: 0;
        margin-right: 0;
    }
    .bg-responsive{
        width: 100%;
        height: 400px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .bg-responsive1{
        background-image: url(/static/img/carte/Oursins-de-Dinard.jpg);
    }
    .bg-responsive2{
        background-image: url(/static/img/carte/Caneton-Mazarine-2eme-service.jpg);
    }
    .bg-responsive3{
        background-image: url(/static/img/carte/Langue-de-canard-coeur-grille-jeunes-celeris-en-croute-de-sel-crumble-de-celeri-jus-aux-sucs-de-truffes.jpg);
    }    
    .bg-responsive4{
        background-image: url(/static/img/carte/Saint-Pierre-de-ligne-de-Port-en-Bessin.jpg);
    }
    .bg-responsive5{
        background-image: url(/static/img/carte/Ris-de-veau-fermier-croustillant-petits-pois-thym-citron-ail-nouveau....jpg);
    }
    .bg-responsive6{
        background-image: url(/static/img/carte/img3_zoom.jpg);
    }
    .bg-responsive7{
        background-image: url(/static/img/carte/Chocolat-lait-mousse-caramel-sorbet-chocolat-blanc-ambre-lait-deshydrate-V2.jpg);
    }
    .bg-responsive8{
        background-image: url(/static/img/carte/Mangue-ananas-papaye-crumble-sorbet-noix-de-coco-maracuja-kefir.jpg);
    }
    .bg-responsive9{
        background-image: url(/static/img/carte/Fraises-Ciflorette-XXL-sur-un-biscuit-onctueux-Traou-Mad-cr%C3%A8me-glac%C3%A9e-italienne-%C3%A0-la-f%C3%A8ve-Tonka-marbr%C3%A9-de-granit%C3%A9.jpg);
    }
    .bg-responsive10{
        background-image: url(/static/img/carte/Langouste-puce-royale-a-la-nage-epicee-citronnelle-et-limequat-V1.jpg);
    }
    .bg-responsive11{
        background-image: url(/static/img/carte/Aile-de-raie-bouclee-de-Petit-Bateau-citron-de-Menton-capres-amandes-salicornes-poudre-de-noisettes-V1.jpg);
    }
}
    