*{
    margin: 0;
    padding: 0;
} 
.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.picture-left{
    width: 100%;
    height: 90vh;
    background-size: 65%;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(/static/img/chef/guide-restaurant-gastronomique-5e-tour-argent-philippe-labbe-chef-avis-paris-capitale-magazine.jpg);
    background-attachment: fixed;
} 
.contain-right{
    width: 60%;
    height: 90vh;
    background: white;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    margin-left: 40%;
}
.contain-right img{
    width: 15px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    margin-bottom: 3px;
    margin-top: 0;
}
h2{
    display: inline-block;
    color: #C09B78;
    font-weight: 100;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    margin-left: 38%;
}
span{
    display: block;
    color: #C09B78;
    font-weight: 100;
    text-align: center;
    font-size: 18px;
}
p{
    font-size: 13px;
    color: #1C1C1C;
    width: 65%;
    margin-left: 25%;
}
.part1{
    margin-top: 30px;
}
.end{
    width: 100%;
    height: 88vh;
}
.swiper-container{
    width: 100%;
    height: 80vh;
    padding-top: 50px;
}
.swiper-container img{
    width: 50%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next{
    background: #C09B78;
    background-image: url(/static/img/fleche-next.svg);
}
.swiper-button-next:hover{
    background: white;
    background-image: url(/static/img/fleche-next-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    -webkit-transition: .5s;
    border: solid 1px #C09B78; 
    box-sizing: border-box;
}
.swiper-button-next:not(:hover){
    background: #C09B78;
    background-image: url(/static/img/fleche-next.svg);
    -webkit-transition: .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    border: solid 1px #C09B78;
    box-sizing: border-box;
}
.swiper-button-prev{
    background: #C09B78;
    background-image: url(/static/img/fleche-prev.svg);
}
.swiper-button-prev:hover{
    background: white;
    background-image: url(/static/img/fleche-prev-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    -webkit-transition: .5s;
    border: solid 1px #C09B78;
    box-sizing: border-box;
}
.swiper-button-prev:not(:hover){
    background: #C09B78;
    background-image: url(/static/img/fleche-prev.svg);
    -webkit-transition: .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    border: solid 1px #C09B78;
    box-sizing: border-box;
}
.swiper-button-next,
.swiper-container-rtl 
.swiper-button-prev{
    right:15%;
}
.swiper-button-prev{
    left:15%;
}

@media all and (max-width:720px){
    .contain-right{
        width: 100%;
        height: 95vh;
        background: white;
        -webkit-clip-path: none;
        margin-left: 0%;
    }
    .picture-left{
        width: 100%;
        height: 95vh;
        background: white;
    }
    .main{
        height: 135vh;
    }
    h2{
        display: inline-block;
        color: #C09B78;
        font-weight: 100;
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        margin-left: 18%;
    }
    p{
        font-size: 14px;
        color: #1C1C1C;
        width: 90%;
        margin-left: 5%;
    }
    .bg-responsive{
        width: 100%;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/static/img/chef/guide-restaurant-gastronomique-5e-tour-argent-philippe-labbe-chef-avis-paris-capitale-magazine.jpg);
    }
    .end{
        height: 60vh;
    }
    .scroll-arrow1{
        display: none;
    }
    .swiper-container img{
        width: 100%;
    }
    .swiper-button-prev{
        left: 0%;
    }
    .swiper-button-next{
        right: 0%;
    }
    .swiper-container{
        width: 100%;
        height: 55vh;
        padding-top: 30px;
    }
}