*{
    margin: 0;
    padding: 0;
}
body{
    overflow-X: hidden;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.main h2{
    color: white;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    height: 90px;
    padding-top: 442px;
}
.main span{
    display: block;
    font-size: 13px;
} 
.see-more{
    color: #C09B78;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.see-more:hover{
    color: #fff;
}
.terail-family{
    height: 81vh;
    float: left;
    display: inline-block;
    background-size: cover;
    background-position: top center;
    margin-top: 30px;
}
.andreI{
    background-image: url(/static/img/heritage/Page-Heritage-2-Andre-Terrail.jpg);
    width: 33.3%;
    position: absolute;
    left: 0%;
    -webkit-transition:
        all 1s ease-in-out;
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}
.claude{
    background-image: url(/static/img/heritage/Claude-Terrail-2.jpg);
    width: 33.3%;
    position: absolute;
    left: 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
    -webkit-transform:
        translateX(-50%);
    -webkit-transition:
        all 1s ease-in-out;
}
.andreII{
    background-image: url(/static/img/heritage/Page-Heritage-4-Andre-Terrail.jpg);
    width: 33.4%;
    position: absolute;
    right: 0;
    -webkit-transition:
        all 1s ease-in-out;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
.andreI-bio{
    position: absolute;
    width: 35%;
    left: 45%;
    top: 30%;
    opacity: 0;
    -webkit-transition:
        all .5s ease-in-out;
}
.andreI-bio strong{
    color: #C09B78;
    font-size: 35px;
    font-weight: 100;
}
.andreI-bio p{
    margin-top: 20px;
    font-size: 15px;
}
.claude-bio{
    position: absolute;
    width: 35%;
    left: 45%;
    top: 30%;
    opacity: 0;
    -webkit-transition:
        all .5s ease-in-out;
}
.claude-bio strong{
    color: #C09B78;
    font-size: 35px;
    font-weight: 100;
}
.claude-bio p{
    margin-top: 20px;
    font-size: 15px;
}
.andreII-bio{
    position: absolute;
    width: 35%;
    left: 15%;
    top: 30%;
    opacity: 0;
    -webkit-transition:
        all .5s ease-in-out;
}
.andreII-bio strong{
    color: #C09B78;
    font-size: 35px;
    font-weight: 100;
}
.andreII-bio p{
    margin-top: 20px;
    font-size: 15px;
}
.bio-appear{
    opacity: 1;
    -webkit-transition:
        all 1.5s ease-in-out;
}
.picture-move{
    position: absolute;
    left: -50%;
    -webkit-transition:
        all 1s ease-in-out;
}
.picture-move1{
    position: absolute;
    left: 150%;
    -webkit-transition:
        all 1s ease-in-out;
}
.picture-move2{
    position: absolute;
    right: -100%;
    -webkit-transition:
        all 1s ease-in-out;
}
.picture-move3{
    position: absolute;
    left: 16%;
    -webkit-transition:
        all 1s ease-in-out;
}
.show-less{
    color: #C09B78;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-top: 30px;
    margin-left: 80%;
    position: absolute;
}
.show-less:hover{
    color: #1C1C1C;
}

/* Timeline */
.end{
    width: 100%;
    height: 87vh;
    position: relative;
}
#timeline a {
	color: #1C1C1C;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
#timeline a:hover,
#timeline  a.selected {
	color: #C09B78;
}
#timeline {
	width: 70%;
	height: 100%;
	overflow: hidden;
    margin-left: 50%;
    -webkit-transform:
        translateX(-50%);
    margin-top: 5%;
	position: absolute;
    background: url('/static/img/heritage/timeline.png') left 45px repeat-x;
}
#dates {
	height: 15%;
	overflow: hidden;
}
#dates li {
	list-style: none;
	float: left;
	width: 150px;
	height: 50px;
	font-size: 20px;
	text-align: center;
    background: url('/static/img/heritage/timeline1.png') center bottom no-repeat;
}
#dates .selected {
    font-size: 25px;
}
#issues li {
	width: 800px;
	list-style: none;
	float: left;
    padding-top: 45px;
}
#issues li img {
    float: left;
    margin-left: 15%;
    margin-right: 5%;
}
#issues li strong {
	color: #C09B78;
	font-size: 30px;
    text-align: left;
    font-weight: 100;
}
#issues li p {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin-left: 40%;
    margin-top: 2%;
    position: absolute;
    width: 45%;
}
#next,
#prev {
	position: absolute;
	top: 0;
	top: 50%;
    -webkit-transform:
        translateY(-50%);
	width: 50px;
	height: 50px;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
}
#next{
    background: #C09B78;
    background-image: url(/static/img/heritage/fleche-next.svg);
}
#next:hover{
    background: white;
    background-image: url(/static/img/heritage/fleche-next-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    -webkit-transition: .5s;
    border: solid 1px #C09B78; 
    box-sizing: border-box;
}
#next:not(:hover){
    background: #C09B78;
    background-image: url(/static/img/heritage/fleche-next.svg);
    -webkit-transition: .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    border: solid 1px #C09B78;
    box-sizing: border-box;
}
#prev{
    background: #C09B78;
    background-image: url(/static/img/heritage/fleche-prev.svg);
}
#prev:hover{
    background: white;
    background-image: url(/static/img/heritage/fleche-prev-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    -webkit-transition: .5s;
    border: solid 1px #C09B78;
    box-sizing: border-box;
}
#prev:not(:hover){
    background: #C09B78;
    background-image: url(/static/img/heritage/fleche-prev.svg);
    -webkit-transition: .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    border: solid 1px #C09B78;
    box-sizing: border-box;
}
#next{
    right:15%;
}
#prev{
    left:15%;
}
#timeline-responsive{
    display: none;
}
@media all and (max-width:720px){
    .main{
        height: 280vh;
    }
    .scroll-arrow1{
        display: none;
    }
    .andreI,.claude,.andreII{
        width: 100%;
        height: 55vh;
        -webkit-clip-path: none;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .andreI{
        top: 11%;
    }
    .andreI-bio{
        position: absolute;
        width: 90%;
        left: 5%;
        top: 1%;
        opacity: 1;
        -webkit-transition:
            all .5s ease-in-out;
        text-align: center;
    }
    .andreI-bio strong{
        color: #C09B78;
        font-size: 25px;
        font-weight: 100;
    }
    .andreI-bio p{
        margin-top: 10px;
        font-size: 14px;
    }
    .show-less{
        display: none;
    }
    .claude{
        top: 44%;
    }
    .claude-bio{
        position: absolute;
        width: 90%;
        left: 5%;
        top: 33%;
        opacity: 1;
        -webkit-transition:
            all .5s ease-in-out;
        text-align:center;
    }
    .claude-bio strong{
        color: #C09B78;
        font-size: 25px;
        font-weight: 100;
    }
    .claude-bio p{
        margin-top: 10px;
        font-size: 14px;
    }
    .andreII{
        top: 77%;
    }
    .andreII-bio{
        position: absolute;
        width: 90%;
        left: 5%;
        top: 66%;
        opacity: 1;
        -webkit-transition:
            all .5s ease-in-out;
        text-align:center;
    }
    .andreII-bio strong{
        color: #C09B78;
        font-size: 25px;
        font-weight: 100;
    }
    .andreII-bio p{
        margin-top: 10px;
        font-size: 14px;
    }
    .terail-family h2{
        display: none;
    }
    .end{
        display: none;
    }
    #timeline-responsive{
        width: 100%;
        height: 935vh;
        display: block;
    }
    .date{
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 25px;
    }
    .date img{
        display: block;
        margin-left: 50%;
        -webkit-transform:
            translateX(-50%);
        padding-bottom: 15px;
    }
    .date strong{
        color: #C09B78;
        font-size: 25px;
        font-weight: 100;
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
    }
    .date p{
        width: 90%;
        margin-left: 5%;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
}