*{
    margin: 0;
    padding: 0;
} 
body{
    overflow-y: hidden;
}
#bg{
    display: none;
}
#home:before{
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 660px 250px 0 250px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform:
        translateX(-50%);
    -webkit-animation:
        menu-appear .7s ease-out;
}
#home img{
    position: absolute;
    width: 20%;
    left: 50%;
    top: 5%;
    -webkit-transform:
        translateX(-50%);
}
#menuheader{
    position: absolute;
    left: 50%;
    -webkit-transform:
        translateX(-50%);
    top: 24%;
    list-style: none;
    font-family: 'LeMonde Livre Classic';
    text-align: center;
}
#menuheader a{
    color: #1C1C1C;
    text-decoration: none;
}
#menuheader>li{
    margin-top: 45px;
    position: relative;
    font-size: 15px;
}
#menuheader a:hover{
    color: #C09B78;
    transition: all ease .3s;
}
#menuheader a:not(:hover){
    color: #1C1C1C;
    transition: all ease .5s;
}
#menuheader ul{
    display: none;
}
#menuheader ul li{
    list-style: none;
    margin-top: 20px;
    font-size: 12px;
}
#menuheader li:hover >ul{
    display: block;
}
#menuheader #language{
    color: #C09B78;
    font-size: 10px;
}
.fadeout{
   opacity: 0;
}

.bg{
    width: 50%;
    display: inline-block;
    height: 660px;
    float: left;
}
.bg1{
    background-image: url(/static/img/bg1.jpg);
    background-size: cover;
    background-position: bottom right;
}
.bg2{
    background-image: url(/static/img/bg2.jpg);
    background-size: cover;
    background-position: bottom left;
}
/* Animation */

@-webkit-keyframes menu-appear{
    0%{border-width: 710px 9000px 0 9000px;}
    100%{border-width: 660px 250px 0 250px;}
}

/* Responsive */
@media screen and (max-width:720px){
    #home{
        display: none;
    }
    #bg{
        display: block;
        width: 100%;
        height: 100vh;
        background-image: url(/static/img/bg1.jpg);
        background-size: cover;
        background-position: right;
    }
    #logo{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.3);
    }
    #logo-prin{
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform:
            translateX(-50%) translateY(-50%);
    }
    header{
        display: none;
        width: 100%;
        height: 100vh;
        background: white;
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 75% 100%);
        -webkit-animation: 
            menu-appear 1s ease-in-out;
    }
    header img{
        width: 50%;
        margin-top: 8%;
        margin-left: 40%;
    }
    .menuheader{
        margin-left: 55%;
        margin-top: 25%;
        list-style: none;
        font-family: 'LeMonde Livre Classic';
        text-align: left;
    }
    .menuheader a{
        color: #1C1C1C;
        text-decoration: none;
    }
    .menuheader>li{
        margin-top: 50px;
        position: relative;
        font-size: 15px;
    }
    .menuheader a:hover{
        color: #C09B78;
        transition: all ease .3s;
    }
    .menuheader a:not(:hover){
        color: #1C1C1C;
        transition: all ease .5s;
    }
    .menuheader ul{
        display: none;
    }
    .menuheader ul li{
        list-style: none;
        margin-top: 20px;
        font-size: 12px;
    }
    .menuheader li:hover >ul{
        display: block;
    }
    .menuheader #language{
        color: #C09B78;
        font-size: 10px;
    }
    .menu-elem2{
        margin-left: 9%;
    }
    .menu-elem3{
        margin-left: 18%;
    }
    .menu-elem4{
        margin-left: 27%
    }
    .menu-elem5{
        margin-left: 36%
    }
    .menu-elem6{
        margin-left: 50%;
    }
    .sous-elem1{
        margin-left: 5%;
    }
    .sous-elem2{
        margin-left: 10%;
    }
    .sous-elem3{
        margin-left: 15%;
    }
    .sous-elem4{
        margin-left: 20%;
    }
    .sous-elem5{
        margin-left: 15%;
    }
    .sous-elem6{
        margin-left: 20%;
    }
    .sous-elem7{
        margin-left: 25%;
    }
    .sous-elem8{
        margin-left: 30%;
    }
    .sous-elem9{
        margin-left: 35%;
    }
    .sous-elem10{
        margin-left: 40%;
    }
    .sous-elem11{
        margin-left: 25%;
    }
    .sous-elem12{
        margin-left: 30%;
    }
    .fadeout{
        opacity: 0;
    }
    a.menu-icon{
        width: 33px;
        height: 23px;
        background: transparent;
        position: absolute;
        top: 24px;
        left: 80%;
        z-index: 1000;
    }
    a.menu-icon::before {
        content: "";
        width: 70%;
        position: absolute;
        background: white;
        height: 3px;
        transition-duration: .3s;
        transition-delay: .1s;
    }
    div.menu-icon-mid{
        width: 100%;
        background: white;
        position: absolute;
        height: 3px;
        top: calc(50% - 1.5px);
        pointer-events: none;
    }
    a.menu-icon::after{
        content: "";
        width: 80%;
        position: absolute;
        background: white;
        height: 3px;
        bottom: 0;
        transition-duration: .4s;
    }
    a.menu-icon:hover:before, a.menu-icon:hover:after {
        width: 100%;
    }
    @keyframes menu-appear{
        0%{margin-left: 100%};
        30%{margin-left: 100%};
        100%{margin-left: 0%};
    }
}