*{
    margin: 0;
    padding: 0;
} 
body{
    overflow-y: hidden;
}
#bg{
    display: none;
}
#home:before{
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 250px 0 250px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform:
        translateX(-50%);
    -webkit-animation:
        menu-appear 1.5s ease-in-out;
}
#home img{
    position: absolute;
    width: 20%;
    left: 50%;
    top: 5%;
    -webkit-transform:
        translateX(-50%);
}
#menuheader{
    position: absolute;
    left: 50%;
    -webkit-transform:
        translateX(-50%);
    top: 24%;
    list-style: none;
    font-family: 'LeMonde Livre Classic';
    text-align: center;
}
#menuheader a{
    color: #1C1C1C;
    text-decoration: none;
}
#menuheader>li{
    margin-top: 45px;
    position: relative;
    font-size: 15px;
}
#menuheader a:hover{
    color: #C09B78;
    transition: all ease .3s;
}
#menuheader a:not(:hover){
    color: #1C1C1C;
    transition: all ease .5s;
}
#menuheader ul{
    display: none;
}
#menuheader ul li{
    list-style: none;
    margin-top: 20px;
    font-size: 12px;
}
#menuheader li:hover >ul{
    display: block;
}
#menuheader #language{
    color: #C09B78;
    font-size: 10px;
}
.fadeout{
   opacity: 0;
}
#menuheader li.dropdownmenu:hover a{
    color: #C09B78;
}
#menuheader li.dropdownmenu:hover li a{
    color: #1C1C1C;
}
#menuheader li.dropdownmenu:hover li a:hover{
    color: #C09B78;
}

.bg{
    width: 50%;
    display: inline-block;
    height: 100vh;
    float: left;
}
.bg1{
    background-image: url(/static/img/bg1.jpg);
    background-size: cover;
    background-position: bottom right;
}
.bg2{
    background-image: url(/static/img/bg2.jpg);
    background-size: cover;
    background-position: bottom left;
}
/* Animation */

@-webkit-keyframes menu-appear{
    0%{border-width: 710px 9000px 0 9000px;}
    100%{border-width: 660px 250px 0 250px;}
}

/* Reservation */
.reservation{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100%;
    -webkit-transition:
        all 1s ease-in-out;
    background-color: rgba(0,0,0,.7);
    
}
.reservation-form{
    top: 0%;
    -webkit-transition:
        all 1s ease-in-out;
}
#form-reservation{
    width: 40%;
    height: 70%;
    background: #fff;
    margin-left: 50%;
    margin-top: 5%;
    -webkit-transform:
        translateX(-50%);
    border: 1px solid #C09B78;
    box-sizing: border-box;
    position: relative;
    padding-top: 3%;
}
#form-reservation input{
    width: 45%;
    height: 25px;
    border: none;
    border-bottom: 1px solid #C09B78;
    margin-top: 15px;
    display: block;
    margin-left: 50%;
    -webkit-transform:
        translateX(-50%);
} 
::-webkit-input-placeholder{
    font-size: 13px;
    color: #1C1C1C;
}
#form-reservation img{
    width: 5%;
    position: absolute;
    top: 20%;
    left: 53%;
}
#nb-person:nth-child(2){
    width: 5%;
    padding-left: 4%;
}
#hour{
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
}
.day{
    width: 50%;
    display: inline-block;
    float: left;
}
#form-reservation .sendmail{
    width: 10%;
    background: none;
    border: none;
    color: #C09B78;
}
#form-reservation .sendmail:hover{
    width: 10%;
    color: #1C1C1C;
}
#form-reservation strong{
    font-weight: 100;
    font-size: 17px;
    color: #1C1C1C;
    display: block;
    text-align: center;
}
#name{
    padding-top: 30px;
}
.button input{
    margin-left: 75%;
    font-size: 15px;
}
.reservation a{
    width: 2%;
    top: 2%;
    left: 50%;
    -webkit-transform:
        translateX(-50%);
    position: absolute;
}

/* Responsive */
@media screen and (max-width:720px){
    #home{
        display: none;
    }
    #bg{
        display: block;
        width: 100%;
        height: 100vh;
        background-image: url(/static/img/bg1.jpg);
        background-size: cover;
        background-position: right;
    }
    #logo{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.2);
    }
    #logo-prin{
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform:
            translateX(-50%) translateY(-50%);
    }
    header{
        width: 100%;
        height: 100vh;
        background: white;
        -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 70% 100%);
        margin-left: 100%;
        -webkit-transition:
            all 1s ease-in-out;
    }
    .header-show{
        margin-left: 0%;
        -webkit-transition:
            all 1s ease-in-out;
    }
    header img{
        width: 50%;
        margin-top: 10%;
        margin-left: 40%;
    }
    .menuheader{
        margin-left: 55%;
        margin-top: 25%;
        list-style: none;
        font-family: 'LeMonde Livre Classic';
        text-align: left;
    }
    .menuheader a{
        color: #1C1C1C;
        text-decoration: none;
    }
    .menuheader>li{
        margin-top: 50px;
        position: relative;
        font-size: 15px;
    }
    .menuheader a:hover{
        color: #C09B78;
        transition: all ease .3s;
    }
    .menuheader a:not(:hover){
        color: #1C1C1C;
        transition: all ease .5s;
    }
    .menuheader ul{
        display: none;
    }
    .menuheader ul li{
        list-style: none;
        margin-top: 20px;
        font-size: 12px;
    }
    .menuheader li:hover >ul{
        display: block;
    }
    .menuheader #language{
        color: #C09B78;
        font-size: 10px;
    }
    .menu-elem2{
        margin-left: 9%;
    }
    .menu-elem3{
        margin-left: 18%;
    }
    .menu-elem4{
        margin-left: 27%
    }
    .menu-elem5{
        margin-left: 36%
    }
    .menu-elem6{
        margin-left: 50%;
    }
    .sous-elem1{
        margin-left: 5%;
    }
    .sous-elem2{
        margin-left: 10%;
    }
    .sous-elem3{
        margin-left: 15%;
    }
    .sous-elem4{
        margin-left: 20%;
    }
    .sous-elem5{
        margin-left: 15%;
    }
    .sous-elem6{
        margin-left: 20%;
    }
    .sous-elem7{
        margin-left: 25%;
    }
    .sous-elem8{
        margin-left: 30%;
    }
    .sous-elem9{
        margin-left: 35%;
    }
    .sous-elem10{
        margin-left: 40%;
    }
    .sous-elem11{
        margin-left: 25%;
    }
    .sous-elem12{
        margin-left: 30%;
    }
    .fadeout{
        opacity: 0;
    }
    a.menu-icon{
        width: 33px;
        height: 23px;
        background: transparent;
        position: absolute;
        top: 8%;
        left: 80%;
        z-index: 1000;
    }
    a.menu-icon::before {
        content: "";
        width: 70%;
        position: absolute;
        background: white;
        height: 3px;
        transition-duration: .3s;
        transition-delay: .1s;
    }
    div.menu-icon-mid{
        width: 100%;
        background: white;
        position: absolute;
        height: 3px;
        top: calc(50% - 1.5px);
        pointer-events: none;
    }
    a.menu-icon::after{
        content: "";
        width: 80%;
        position: absolute;
        background: white;
        height: 3px;
        bottom: 0;
        transition-duration: .4s;
    }
    a.menu-icon:hover:before, a.menu-icon:hover:after {
        width: 100%;
    }
    #form-reservation{
        width: 100%;
        height: 70%;
        background: #fff;
        margin-left: 50%;
        margin-top: 35%;
        -webkit-transform:
            translateX(-50%);
        border: 1px solid #C09B78;
        box-sizing: border-box;
        position: relative;
        padding-top: 3%;
    }
    #button-close img{
        width: 30px;
    }
}