*{
    margin: 0;
    padding: 0;
}
#bg{
    width: 100%;
    height: 660px;
    overflow: hidden;
    background-image: url(/static/img/cave/lacave.jpg);
    background-size: cover;
    background-position: bottom;
}
.main{
    width: 100%;
    height: 660px;
    position: relative;
}
.end{
    width: 100%;
    height: 587px;
    background: blue;
}